<div>
  <h2>Survey Stats</h2>
  <div *ngIf="surveyData && surveyAnswers && surveyQuestions">
    <p>Based on all user data users have reported the following on the survey.</p>   
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            Questions
          </th>
          <th *ngFor="let a of surveyAnswers">
            {{a.value.replace('Strongly', 'S. ')}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let q of surveyQuestions">
          <td>{{q.id}}. {{q.question}}</td>
           <td *ngFor="let a of surveyAnswers">
            {{surveyData.stats && surveyData.stats[q.id] && surveyData.stats[q.id][a.id] ? ((surveyData.stats[q.id][a.id]/surveyData.count) * 100).toFixed(2)+'%' : ''}}
          </td>
          </tr>
      </tbody>
    </table> 
  </div>
</div>