<p><h1>About</h1>
<hr>
<div style="float: left; text-align: center; border: 1px solid #efefef; margin: 10px;"><img src="assets/images/bio-pic-terrie-reeves.jpg" class="bio-pic">
<br>Terrie Elizabeth Reeves</div>


<p style="padding-top: 20px;"><strong class="blue">The story behind the Ideal Being Model:</strong> Spending over <strong class="blue">three decades</strong> in the health and wellness field has opened my mind to <strong class="blue">viewing the human body and its potential in a more holistic manner.</strong> As Westerners, we tend to take a narrow view at what impacts our health, happiness, personal potential and overall well-being. Going to the doctor, eating well, exercising and getting proper sleep are all important aspects of well-being, but I believe there are many more factors that impact someone’s overall health and happiness. </p>

<p>It is for this reason that I have dedicated the last ten years of my life to developing a revolutionary model that invites people to take inventory of their lives in a much more comprehensive manner. A primary goal in developing the model was to encourage people to
    <strong class="blue">broaden their perception of health and human potential</strong> in order to move beyond well-being to what I have trademarked <strong class="blue">Ideal Being&trade;</strong>. </p>

<div style="clear: both;">
<p>&quot;The <strong class="blue">TFL Assessment</strong> invites
    people to examine their lives in <strong class="blue">15 different dimensions</strong> with the goal of becoming more aware, awake, empowered and transformed to reach a state of Ideal Being. I know my own life has become healthier and more meaningful as I have gained
    a deeper understanding of what truly makes me feel healthy, happy and whole.&quot; </p>

    </div>

    <p>After completion of the TFL Assessment, individuals can enroll in the <strong class="blue">Train for Life Empowerment Program</strong> designed to inspire them to reach their fullest potential in order to thrive in their lives. Program components include: <strong class="blue">self-awareness</strong> and <strong class="blue">emotional intelligence, mindfulness and neuroscience</strong>, <strong class="blue">stress management</strong> and <strong class="blue">resiliency training</strong> and <strong class="blue">intrinsic goal setting and intention living</strong>.</p>

<p><strong class="blue">Terrie Elizabeth Reeves, MSOD and Founder of Empower Health America</strong> has provided consulting services to over 500 organizations and has designed and implemented over 200 interventions focused on improving individual, group and corporate
    productivity and health. Clients include: Lance Snyder, Glen Raven Mills, Sunbelt Rentals, Presbyterian College, Mary Black Hospital System and City of Woodstock. </p>

<p>Terrie has been a <strong class="blue">health advocate</strong> for over <strong class="blue">25 years</strong> and provides insights and solutions in the area
    of health and wellness to a wide range of audiences. She has <strong class="blue">reached millions of people through television, video, workshops, events, conferences and consulting. </strong>Terrie <strong class="blue">trademarked the term Ideal
        Being</strong> to
    encourage people to broaden their perspective on health and well-being, and she remains committed to helping individuals, groups and corporations  adopt and institutionalize strategies to improve awareness, engagement, productivity, health and human performance. </p>





<p><strong class="blue italic">Health advocacy highlights:</strong></p>
<ul>
    <li>Creator of the <strong class="blue  italic">Train For Life Empowerment</strong> Program designed to help individuals, groups and organizations reach a state of Ideal Being</li>
    <li><strong class="blue  italic">Key note speaker</strong> for over <strong class="blue  italic">200 Health and Wellness Summits</strong>, corporate events, non-profit organizations, youth groups, professional associations and SHRM conferences</li>
    <li>Hosted (1) on-air health franchise, <strong class="blue  italic">Train for Life® on News 14 reaching over 2.8 million</strong> viewers weekly; (2) a weekly fitness segment for News 14 Carolina called Turn Back the Clock; and (3) a wellness-focused promotional segment called
        Wellness Wednesdays
    </li>
    <li>Produced <strong class="blue  italic">10 national health and wellness videos</strong> including celebrities like <strong class="blue  italic">Sugar Ray Leonard</strong> and Richard Simmons</li>
    <li>Served as a <strong class="blue  italic">White House ambassador</strong> for the first <strong class="blue  italic">National Physical Fitness Day</strong></li>
    <li>3 time <strong class="blue  italic">National Sportaerobics Champion</strong></li>
    <li>Developed and facilitated a children’s based program focused on total body wellness entitled, <strong class="blue  italic">Operation Jump-Start Slam Dunk Wellness</strong></li>
    <li>Health and wellness writer with over <strong class="blue  italic">100 published articles</strong></li>
    <li><strong class="blue  italic">Intrinsic coach certified</strong></li>
    <li><strong class="blue  italic">Yoga Alliance certified</strong> - practicing and teaching for over <strong class="blue  italic">18 years</strong></li>
    <li>Facilitated over <strong class="blue  italic">8,000 hours of yoga, meditation, mindfulness and martial arts</strong> teaching and training</li>
    <li><strong class="blue  italic">National Fitness</strong> presenter – featured in <strong class="blue  italic">Shape Magazine</strong></li>
    <li><strong class="blue  italic">Represented fitness products on TV</strong> and helped developed the home boxing product Slam Man</li>
</ul>

<p>In 2003, Terrie launched <strong class="blue">Wellness Coalition America,</strong> a corporate health advocacy company and sold it to <strong class="blue">healthgram</strong>, a third party administrator of group health insurance in 2005. She remained on board for 10 years as
    President, managing the buildout and oversight of healthgram’s health and wellness division.</p><p>Currently, Terrie serves as Founder of <strong class="blue">Empower Health America,</strong> a health advocacy company whose mission is to empower individuals, groups and organizations to reach a state of Ideal Being by becoming aware, awake, empowered and transformed.</p>

    <p>&quot;You can only create in your life what you can envision in your mind.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America

<p><strong class="blue">Train For Life Testimonials:</strong></p>

<p>&quot;I walked away with a far greater experience that I had anticipated. The TFL Assessment inspired to make changes in areas of my life where fear has been holding me back. After attending a TFL workshop something triggered inside of me and I now know, that wherever I am in
    my journey, I am good enough. Those thoughts are not only ringing in my ears but stamped on my heart. I left the workshop feeling like my fire had been lit. Thanks for helping light the fire and I am so grateful for the message that was shared and the overall experience.&quot;
    – Monica Perers</p>

<p>&quot;The TFL Assessment and the 15 dimensions represented in the Ideal Being model was an eye-opener. Taking the TFL Assessment and the TFL workshop both exceeded my expectations.&quot; – Christie Tuly</p>

<p>&quot;Before I started working on the TFL site I had never really slowed down to think about what areas of my life were affecting my health and happiness. The 15 dimensions in the Ideal Being model really broadened my perceptive on well-being. Now that I am more aware I am
    trying to change some of the habits that I have that are negatively impacting my life.&quot; – Judson Terrell</p>

<p>&quot;I have never thought about my life in such a holistic way and it really woke me up on a number of levels…really meaningful experience. Taking the TFL Assessment has definitely motivated me to take some action in a few areas of my life “that I now know” I have been
    neglecting them.&quot; – Billie Rodrigue</p>


    <p><strong class="blue">Public Speaking and Program Facilitation Testimonials:</strong></p>

    <p>&quot;I have spent the last four years of my life dedicated to getting well - emotionally, spiritually, mentally and physically.  It was not easy but my life is infinitely better as a result.  I believe I went into the TFL Assessment with a bit of arrogance.  I thought, what will this have to offer that I have not heard? Well, my dear, the answer is a lot. I was humbled.  I realized that there are parts of each dimension I am still figuring out.  That the process of being aware, awake, empowered and transformed is indeed a process.  I found it fascinating to see how I can be both satisfied and unsatisfied in the same dimension. I am still learning how to relax, laugh deep belly laughs, and play with a sense of wonder and joy.  I am still learning what it means to show up in a relationship and what I want and need from others.  And the list goes on.  Thought provoking but not overwhelming.  Attainable.&quot;
- Allison C. Christie, Chief Operating Officer – The Blanchard Institute Rehab Center</p>

    <p>&quot;Terrie is a dynamic, creative and passionate leader in health advocacy. She's a subject matter expert in corporate wellness programs and has worked successfully in business, educational and nonprofit settings. I attended her workshop on intentional living, and it prompted me to take action in an important area of my life. Terrie is an inspiring public speaker because she's truly passionate about holistic health, and she's actively working in the area. She's a great role model as she practices what she so beautifully articulates about aligning values with action. I would definitely attend future workshops and recommend Terrie.&quot; - Karen DeMay, Vice President, Sr. Executive Recruiter – Wells Fargo</p>

    <p>&quot;Terrie has an invigorating presence. Her energy inspires people in a room before she even opens her mouth. Her life experience, passion, and sought out formal education contribute to her being a credible and extremely impactful leader in the field of employee wellbeing. Her vision of the “Ideal Being” very much aligns with Arthur J Gallagher’s philosophy of wellbeing and engagement. 
Terrie has a gift of positioning herself as very approachable. She engages people almost instantly because the crowd feels like they are talking with her; not being talked down to or talked at. Despite her over 25 years in the industry, she exudes a childlike passion and eagerness to learn. Every person in the crowd feels almost like a part of her presentation. I think the reason people pay attention is because she is the perfect example of what it looks like to be in touch with the best version of yourself, and people want that. 
I would highly recommend Terrie for any speaking opportunity or workshop. She builds trust quickly, she is entertaining, and she speaks to people on their level. I’ve seen her relate to high-powered groups of women and a bunch of predominantly 40 year old male manufacturers. She only sees people. The work she does to inspire individuals is priceless. This often results in immediate lifestyle and behavior changes that otherwise could take years or never even be attempted. 
“Terrie is a true light and should be given every opportunity to shine and ignite other people’s light.&quot; - Shira Wilensky, MS, Well-being and Engagement Consultant – Gallagher</p>


<p>
    <strong class="blue">Contact:</strong><br> Terrie Elizabeth Reeves<br> 704-200-4459<br> <a href="mailto: terrie.trainforlife@gmail.com">terrie.trainforlife@gmail.com</a><br> <a href="http://empowerhealthamerica.com" target="_blank">www.empowerhealthamerica.com</a>
</p>

        