<!---definition-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Activity:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;The quality or state of doing something, being active.&quot; - <a href="https://www.merriam-webster.com/dictionary/activity" target="_blank">Webster Dictionary</a></p>
        <p>&quot;An action that is intentionally done with the goal of improving or maintaining one&rsquo;s fitness level and Ideal Being.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America
        </p>
    </div>
</div>

<!---TFL Self Guided-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>

        <p><strong>Exercise to Feel Healthy:</strong></p>

        <p>Find an exercise activity that you enjoy and commit to doing it 3 to 5 times per week for 21 days.  Start an exercise journal and write on the cover something that would be motivational to you such as, &quot;Train For Life,&quot; &quot;Exercise for Health&quot; or &quot;I Am Important.&quot;  Take 15 minutes and write down on the first page why you want to exercise and the benefits you hope to gain.  Also, write down the challenges you have experienced in the past sticking with
            a workout plan.  Then, write down how you plan to overcome these challenges over the next 21 days.  Each time you exercise, take 5 minutes afterward to write down how it made you feel.  Once the 21 days are up, your journal will serve as a personal reminder of how important exercise is in your life.  Things that will improve your success:</p>
        <ol class="no-pad-left">
            <li>Get a workout partner.</li>
            <li>Pick an activity you enjoy doing.</li>
            <li>Find a consistent time in your day that works best in your schedule.</li>
            <li>Schedule an appointment with yourself in your smart phone or write it down in your day timer.</li>
            <li>Write down why you are motivated to exercise on a sticky note and place it in a high visibility spot.  Let this serve as a positive affirmation note to yourself.  </li>
            <li>If you miss a workout, don&rsquo;t worry about it; just get back on track. </li>
        </ol>
    </div>
</div>

<!---Quotes-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p class="no-bullets no-pad-left">
        <p>&quot;Exercise connects us to our bodies and reminds us how precious it is.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Training gives us an outlet for suppressed energies created by stress and thus tones the spirit just as exercise conditions the body.&quot; - Arnold Schwarzenegger</p>
        <p>&quot;The reason I exercise is for the quality of life I enjoy.&quot; - Kenneth H. Cooper</p>
        <p>&quot;Take care of your body.  It's the only place you have to live.&quot;- Jim Rohn</p>
        <p>&quot;Lack of activity destroys the good condition of every human being, while movement and methodical physical exercise save it and preserve it.&quot; - Plato</p>
    </div>
</div>



<!---Did you know-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Lack of physical activity is an epidemic that is recognized as a leading cause of death around the world (1).</li>
            <li>31 percent of the global population is not meeting minimum recommendations for physical activity (1).</li>
            <li>Benefits of exercise and physical activity have been linked to:  lower blood pressure, improved lipoprotein profile, weight management, improved bone health, reduced risk of falling in older adults, prevention or improvement of mild depression and anxiety, and
                improvement of overall energy, well-being and cognitive function (2).</li>
            <li>Regular physical activity and exercise is linked to decreasing a person&rsquo;s risk of developing coronary heart disease (CHD), stroke, type 2 diabetes and some types of cancer (2).</li>
            <li>Changing from a sedentary lifestyle to one that meets the recommended physical activity levels can lead to a longer and more fulfilling life (2).</li>
        </ol>
        <p><strong>Sources:</strong></p>
        <ol class="no-bullets no-pad-left">
            <li>Public health experts, Kohl and others, published in The Lancet</li>
            <li>Exercise science specialists, Garber and others, published in Medicine &amp; Science in Sports &amp; Exercise</li>
        </ol>
    </div>
</div>

<!---TFL actions-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Exercise moderately a total of 150 minutes per week or get 25 minutes of high intensity exercise 3 times per week. </li>
            <li>Do strength training or some type of weight bearing exercise 2 to 3 times per week.</li>
            <li>Keep a journal for a week and record all your exercise activity.</li>
            <li>If you are getting less than the recommended amount of exercise, take action. </li>
            <li>Evaluate your calendar and figure out the best time to exercise.</li>
            <li>Reference a physical activities chart to learn the level of exercise intensity you should use based on your age.</li>
            <li>Try different types of exercise activities until you find the ones that you enjoy.  </li>
            <li>If you are just starting a workout routine, begin slowly and gradually build up overtime.  </li>
            <li>Find an accountability buddy who enjoys the same type of exercise activities as you do.</li>
            <li>Try a group exercise class; they can be fun and motivational.</li>
            <li>Make a playlist of your favorite songs and use your tunes as motivation when you work out.  </li>
            <li>Do an exercise video or take part in an online workout program 3 times per week.   </li>
            <li>Make your exercise routine fun and sustainable.</li>
            <li>Ask for support by finding people who will encourage you to stick with your workout plan.</li>
            <li>Educate yourself and your family on the benefits and importance of a regular exercise routine.</li>
            <li>Exercise as a family.  A few laps around the block after dinner would be a great family activity to add to your day. </li>
            <li>Use small chunks of free time throughout the day to keep active.  You don&rsquo;t have to get in your 150 minutes per week all at once.</li>
            <li>Stay positive and don&rsquo;t let setbacks get you down.  They will come, so be prepared to embrace them and conquer them when they do.</li>
            <li>Listen to your body.  It will tell you what you need.</li>
            <li>Reward yourself for sticking with your workout plan.</li>
        </ol>
    </div>
</div>

<!---TFL Tips-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Exercise is an important part of Ideal Being and the benefits are abundant.  If you are starting a workout program or you need a little extra motivation, find a workout partner so you can have fun exercising together.  Plus, you can help hold each other accountable.  If you find an exercise routine that you enjoy and can do it for 21 days, you will be well on your way to success.  </p>

    </div>
</div>

<!---Tools and resources-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>
            &quot;Physical Activity Guidelines for Americans&quot;:<br/>
            <a href="https://health.gov/paguidelines/guidelines/">https://health.gov/paguidelines/guidelines/</a> <br/>
            &quot;Resistance Training for Health and Fitness&quot;:<br/>
            <a href="https://www.acsm.org/docs/brochures/resistance-training.pdf">https://www.acsm.org/docs/brochures/resistance-training.pdf</a> <br/>
            &quot;Reducing Sedentary Behaviors:  Sitting Less and Moving More&quot;:<br/>
            <a href="https://www.acsm.org/docs/brochures/reducing-sedentary-behaviors-sitting-less-and-moving-more.pdf">https://www.acsm.org/docs/brochures/reducing-sedentary-behaviors-sitting-less-and-moving-more.pdf</a> <br/>
            &quot;The Right Dose of Exercise for a Longer Life&quot;:<br/>
            <a href="https://well.blogs.nytimes.com/2015/04/15/the-right-dose-of-exercise-for-a-longer-life/?_r=0">https://well.blogs.nytimes.com/2015/04/15/the-right-dose-of-exercise-for-a-longer-life/?_r=0</a> <br/>
            American College of Sports Medicine Recommendations on Physical Activity and Weight Loss:<br/>
            <a href="http://www.acsm.org/about-acsm/media-room/acsm-in-the-news/2011/08/01/acsm-position-stand-on-physical-activity-and-weight-loss-now-available">http://www.acsm.org/about-acsm/media-room/acsm-in-the-news/2011/08/01/acsm-position-stand-on-physical-activity-and-weight-loss-now-available</a> <br/>
            &quot;14 Tips for Starting and Sticking With a Workout Routine&quot;:<br/>
            <a href="http://www.sparkpeople.com/resource/fitness_articles.asp?id=73">http://www.sparkpeople.com/resource/fitness_articles.asp?id=73</a> <br/>
            &quot;Beginner Body Weight Workout&quot;:<br/>
            <a href="https://www.nerdfitness.com/blog/beginner-body-weight-workout-burn-fat-build-muscle/">https://www.nerdfitness.com/blog/beginner-body-weight-workout-burn-fat-build-muscle/</a> <br/>
            &quot;A 20-Minute Daily Exercise Plan for People Too Busy to Work Out&quot;:<br/>
            <a href="http://lifehacker.com/5909383/a-20-minute-per-day-plan-to-get-in-shape-for-people-too-busy-to-exercise">http://lifehacker.com/5909383/a-20-minute-per-day-plan-to-get-in-shape-for-people-too-busy-to-exercise</a> <br/>
            ExRx.com: an Online Catalog of Beginner Exercise Routines:<br/>
            <a href="http://www.exrx.net/Beginning.html">http://www.exrx.net/Beginning.html</a> <br/>
            TED Talks to Consider:<br/>
            &quot;<a href="http://www.ted.com/talks/nilofer_merchant_got_a_meeting_take_a_walk">Got a meeting?  Take a walk.&quot;</a> <br/>
            &quot;<a href="http://www.ted.com/talks/dan_buettner_how_to_live_to_be_100">How to live to be 100+</a>.&quot;
        </p>
    </div>
</div>





