<!---definition--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Financial:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;The dynamic relationship of one’s financial and economic resources as they are applied to or impact the state of physical, mental and social well-being.&quot; - Financial Health Institute </p>
        <p>&quot;Within the context of the Ideal Being model, financial health is how someone views the totality of their assists and their level of satisfaction with their economic position based on what is important to them.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
    </div>
</div>

<!---TFL Self Guided--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Hire a Financial Planner:</strong></p>
        <p>Figure out a way to make financial planning fun.  Hire a financial planner or consult with a friend to help you get started.  Once you get a plan in place, work your plan by monitoring and assessing your progress monthly.  Know that you are not alone; it is hard to do something you don’t enjoy doing, but remind yourself that the benefits will be worth the hard work, not only for you but for your family.  There is a lot of freedom and security found in financial independence.</p>
    </div>
</div>

<!---Quotes--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>“Following your passion and living intentionally are prerequisites for finding personal and financial peace.”
            –Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>“The only way to permanently change the temperature in the room is to reset the thermostat.  In the same way, the only way to change your level of financial success 'permanently' is to reset your financial thermostat.  But it is your choice whether you choose to change.” - T. Harv Eker</p>
        <p>“I believe that through knowledge and discipline, financial peace is possible for all of us.” - Dave Ramsey</p>
        <p>“It's OK to have a plan, to invest in your future–for your financial security, your love life, your personal fulfillment, and even your happiness.  To have personal happiness as a stated goal doesn't detract you from getting there.” - Karen Finerman</p>

    </div>
</div>


<!---Did you know--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Financial stress is associated with low self-esteem, depression, loss of personal control and lack in job performance.  Financial insecurity also has been found to produce reports of actual physical pain (1).</p>
        <p>The American Psychological Association’s Stress in America™ survey showed that 72 percent of Americans experience stress associated with money issues (2).</p>
        <p>Chronic financial stress has also been found to be associated with serious health, occupational, and relational issues (1).</p>
        <p>There appears to be a link between an individual’s lack of financial knowledge and skills and unhealthy behaviors such as abusing credit cards and living beyond one’s means  (3).</p>
        <p><strong>Sources</strong></p>
        <ol class="no-pad-left">
            <li>Social scientists, Klontz, Van Zutphen, and Fries, published in the Journal of Financial Planning</li>
            <li>As cited by Prawitz and Cohart in the Journal of Financial Counseling and Planning</li>
            <li>Patricia A. Bonner, Ph. D, CEBS in Financial Wellness and Education in the Workplace:  Strategies and Best Practices</li>             
        </ol>

    </div>
</div>
<!---TFL actions--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ul class="no-pad-left">
            <li>Identify areas in your finances that you&rsquo;d like to change.  Develop an improvement plan and work the plan.  </li>
            <ol>
                <li>Write down your short and long-term financial goals. </li>
                <li>Establish a budget and develop a system to track the money you are earning and money you are spending.</li>
                <li>Print out three months of your bank and credit card statements, study them and notice your spending patterns. </li>
                <li>Break down areas of spending into categories (i.e. mortgage, utilities, car, food, entertainment and healthcare) to determine your spending habits. </li>
                <li>Ensure your spending habits are healthy and aligned with your short and long-term financial goals. </li>
                <li>Do monthly and quarterly check-ins on your budget and spending habits.</li>
                <li>Know your credit score and what drives it up and down; and look for ways to improve it if needed.  </li>
            </ol>
            <li>Become aware of impulse spending habits. </li>
            <ol>
                <li>Ask yourself what you can eliminate financially and do it. </li>
                <li>Identify the areas of spending that are driving up your debt. </li>
                <li>Pick two things you spend money on that you can eliminate. </li>
            </ol>
            <li>Ease your financial stress by getting informed and asking for help. </li>
            <ol>
                <li>Work with a financial planner or a knowledgeable person in this area to help you establish sustainable goals and to develop a plan to help you reach them.   </li>
                <li>Enlist help from a partner who will hold you accountable to your plan.</li>
                <li>Learn more about managing your finances on your own through reading, classes and seminars.</li>
                <li>Take advantage of resources that can help you ease your financial stress.  Employers and schools often have resources available.</li>
                <li>Get a good tax accountant and financial advisor to help you with your taxes and financial plan.</li>
            </ol>
            <li>Look for ways to save money:</li>
            <ol>
                <li>Consolidating credit card debt, refinance your mortgage or car, eliminate mortgage insurance early, use coupons, apply for financial aid, renegotiate your contracts with services such as internet, cable and cell phone providers and eliminate any unnecessary services. </li>
                <li>Make sure you are looking for and taking advantages of all your tax write offs. </li>
                <li>Sit down with your friends, significant other or family and come up with 20 things that you can do together for a low cost or for free.</li>
                <li>Look for ways to save money such as using coupons, watching for instore sales and online bargains and go to garage sales and consignment stores to find some real deals. </li>
                <li>Don&rsquo;t buy what you don&rsquo;t need and sell what you aren&rsquo;t using.  </li>
            </ol>
            <li>Find a charity and volunteer.  Supporting a worthy cause is a great way to give back through time and money.   </li>
        </ul>
    </div>
</div>
<!---TFL Tips--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
<p>If your finances are a source of concern for you, you are not alone.  Nearly three out of four Americans reported that they experience stress associated with money.  Let this serve as a motivator to spend time on this dimension of your life.  Getting your financial affairs in order will not only improve your Ideal Being, but it also will reduce your stress at the same time.</p>
    </div>
</div>


<!---Tools and resources--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>How Healthy Are Your Finances?  CNN Video <br />
            <a href="http://money.cnn.com/tools/financialhealth/">http://money.cnn.com/tools/financialhealth/</a><br>
        &ldquo;Money Doesn&rsquo;t Buy Happiness&rdquo;: &nbsp;the Scientific Reasoning Behind It <br />
            <a href="http://www.alternet.org/story/153887/the_fascinating_scientific_reason_why_%22money_doesn%27t_buy_happiness%22">http://www.alternet.org/story/153887/the_fascinating_scientific_reason_why_%22money_doesn't_buy_happiness%22</a><br>
        Free Budgeting App: <br />
            <a href="https://www.mint.com/">https://www.mint.com/</a><br>
        Debt Reduction: <br />
            <a href="http://www.huffingtonpost.com/tiffany-aliche/pay-off-debt-in-7-steps-a_b_3377865.html">http://www.huffingtonpost.com/tiffany-aliche/pay-off-debt-in-7-steps-a_b_3377865.html</a><br>
        How to Build Credit: <br />
            <a href="https://www.nerdwallet.com/blog/finance/how-to-build-credit/">https://www.nerdwallet.com/blog/finance/how-to-build-credit/</a><br>
        5 Tips to Healthy Spending Habits: <br />
            <a href="http://content.moneyinstructor.com/232/5-steps-to-healthy-spending-habits.html">http://content.moneyinstructor.com/232/5-steps-to-healthy-spending-habits.html</a><br>
        4 TED Talks to Help You See Your Money in a New Way <br />
            <a href="http://www.makeuseof.com/tag/ted-talks-see-money-new-way/">http://www.makeuseof.com/tag/ted-talks-see-money-new-way/</a><br>
        Financial Planning Worksheets and Website Links <br />
            <a href="http://financialplanningdays.org/resources">http://financialplanningdays.org/resources</a><br>
        10 Ted Talks about Personal Finance, Life and Happiness<br />
            <a href="http://thefinancialdiet.com/10-ted-talks-about-personal-finance-life-and-happiness-you-need-to-watch/">http://thefinancialdiet.com/10-ted-talks-about-personal-finance-life-and-happiness-you-need-to-watch/</a><br>
        <a href="http://www.makeuseof.com/service/finance/">Finance 4 </a><a href="http://www.makeuseof.com/tag/ted-talks-see-money-new-way/">TED Talks to Help You See Your Money in a New Way</a> <br />
            <a href="http://www.makeuseof.com/tag/ted-talks-see-money-new-way/">http://www.makeuseof.com/tag/ted-talks-see-money-new-way/</a><br>
        How to Budget When You're Broke<br />
            <a href="https://www.youtube.com/watch?v=fwZ8pvmlQEk">https://www.youtube.com/watch?v=fwZ8pvmlQEk</a><br>
    </p>
    </div>
</div>





