<!---definition--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Habits:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;An acquired mode of behavior that has become nearly or completely involuntary.&quot; - https://www.merriam-webster.com/dictionary/habit</p>
        <p>&quot;The action or specific pattern of behavior triggered by the emotional and physical influence of a desired state.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Habits are the learning of a sequence of acts that have become automatic responses to specific situations, which may be functional in order to satisfy specific needs, or to obtain certain goals.&quot; - Aarts, H., Paulussen, T., & Schaalma, H., Psychologists</p>
    </div>
</div>



<!---TFL Self Guided--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Self-awareness Exercise:</strong></p>
        <p>Start by determining one habit that you would like to continue and one habit you’d like to change.  Use a note book or journal and write on the outside the word “Aware.”  Write down the habit you want to continue on the first page and 21 pages later write the habit you want to change.  </p>
        <p>There is no need to change your behavior.  All you have to do is exactly what you have been doing with one small exception.  You are encouraged to record in your journal each day how the habit is impacting your life and how it makes you feel.  Try and spend five minutes each day recording your feelings.  </p>
        <p>After 21 days, review what you have written.  Make sure that you are rested and have the time to truly hear and feel your own words.  Take the time to recognize the positive impact of your healthy behavior and be open to the possibilities of changing the unhealthy behavior.  You will know if you are ready to make the change.  </p>
        <p>The way you live your life is up to you.  You are the only one who has the power to change the course of your life one choice at a time.  </p>
    </div>
</div>


<!---Quotes--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;If you notice a habit that is robbing you of joy and is not serving your highest good, stop fueling that behavior.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Your beliefs become your thoughts, Your thoughts become your words, Your words become your actions, Your actions become your habits, Your habits become your values, Your values become your destiny.&quot; - Mahatma Gandhi</p>
        <p>&quot;We become what we repeatedly do.&quot; - Sean Covey</p>
        <p>&quot;Motivation is what gets you started.  Habit is what keeps you going.&quot; - Jim Ryun </p>
        <p>&quot;The best kind of happiness is a habit you're passionate about.&quot; - Shannon L. Alder</p>
    </div>
</div>



<!---Did you know--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;The will is a powerful asset of the human mind, which enables us to reach goals and fulfill desires.  Behavioral intentions represent our strivings to achieve a goal or desire (1).&quot;</p>
        <p>&quot;Behavior is often challenged by motives or other driving forces that interfere with the accomplishment of wishes and desires which attitudes and intentions are aimed at (2).&quot;</p>
        <p>&quot;Habit formation is an important goal for behavior change interventions because habitual behaviors are elicited automatically and are therefore likely to be maintained (3).&quot;</p>
        <p>If a particular action is linked with multiple positive experiences, the habit is more likely to be upheld (1).</p>
        <p>Individuals are encouraged to develop and exercise habits over a period of time.  If actions are not practiced habitually, they will diminish over time (1).</p>
        <p><strong>Sources:</strong></p>

        <ol class="no-pad-left">
            <li>Verplanken and Faes p.591</li>
            <li>cf.Kuhl, 1984 **as cited in Verplanken and Faes p.595</li>
            <li>Lally, Wardle, and Gardner p. 484</li>
            <li>Health psychology experts, Aarts, Paulussen, and Schaalma, published in Health Education Research:  Theory & Practice</li>
        </ol>

    </div>
</div>
<!---TFL actions--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Evaluate the habits in your life and determine which ones have a positive impact on your life and which ones have a negative impact.</li>
            <li>Reflect on you unhealthy habits and trace them back to where they began.  Do the same with your healthy habits.</li>
            <li>Formulate an action plan to work on eliminating the unhealthy habits and a plan to reinforce the healthy ones. </li>
            <li>Spend one week journaling about your unhealthy habits and what triggers them in order to raise awareness.</li>
            <li>Try to slow down and feel the emotions you are experiencing when you are triggered to behave in an unhealthy way.</li>
            <li>Journal how you are feeling i.e. anxious, sad, angry, fearful, loneliness, boredom, etc.</li>
            <li>Proactively determine a healthier plan of action to respond to your triggers rather than defaulting to your habitual way of coping.  For example, call a friend, meditate and breathe deeply, take a walk to clear your head, cuddle a child or pet or exercise.</li>
            <li>Look for ways to minimize or eliminate the stressors that trigger your unhealthy habits.</li>
            <li>Ask for help and surround yourself with people that will encourage and support you to overcome your unhealthy habits.</li>
            <li>Find someone to help hold you accountable.</li>
            <li>Visualize yourself succeeding and what your life would look like if you were free of your unhealthy habits.</li>
            <li>Prepare for the setbacks but don&rsquo;t spend too much time dwelling on them when they occur.  Acknowledge them and move on.</li>
            <li>Train yourself to think differently about your unhealthy habits.  You are not your habits, so don&rsquo;t let them define you.</li>
            <li>Pick a new healthy habit and try to replace your unhealthy habit with it.  For example, exercise, paint, yoga, volunteer or socialize with friends. </li>
            <li>Seek professional help if your unhealthy habits become chronic and they have a prolonged negative impact on your health and/or the health of others.</li>
        </ol>

    </div>
</div>
<!---TFL Tips--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Habits can be healthy and unhealthy, so slow down and take inventory.  Reinforce your good habits by acknowledging the positive impact they are having on your life and conversely acknowledge the negative impact your unhealthy habits are having.  Habits are hard to break so if you can&rsquo;t change your behavior on your own, you are not alone.  Don&rsquo;t be afraid or embarrassed to ask for help.  It takes more courage to ask for help than to suffer in silence.  Take a leap of faith
            and ask someone to help you. </p>
    </div>
</div>

<!---Tools and resources--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>The Power of Habit: <br/>
            <a href="http://www.slate.com/articles/arts/culturebox/2012/02/an_excerpt_from_charles_duhigg_s_the_power_of_habit_.html">http://www.slate.com/articles/arts/culturebox/2012/02/an_excerpt_from_charles_duhigg_s_the_power_of_habit_.html</a> <br/>
            Breaking Bad Habits:  Why It&rsquo;s So Hard to Change: <br/>
            <a href="https://medlineplus.gov/magazine/issues/spring12/articles/spring12pg18-19.html">https://medlineplus.gov/magazine/issues/spring12/articles/spring12pg18-19.html</a> <br/>
            TED Talk-A simple way to break a bad habit: <br/>
            <a href="https://www.ted.com/talks/judson_brewer_a_simple_way_to_break_a_bad_habit">https://www.ted.com/talks/judson_brewer_a_simple_way_to_break_a_bad_habit</a> <br/>
            How to Replace a Bad Habit with a Good One: <br/>
            <a href="http://jamesclear.com/how-to-break-a-bad-habit">http://jamesclear.com/how-to-break-a-bad-habit</a> <br/>
            Strategies for Breaking a Habit: <br/>
            <a href="http://www.developgoodhabits.com/break-bad-habit/">http://www.developgoodhabits.com/break-bad-habit/</a> <br/>
            Printable Habit Trackers: <br/>
            <a href="http://www.laurascraftylife.com/2016/03/habit-tracker.html">http://www.laurascraftylife.com/2016/03/habit-tracker.html</a><br/>
            <a href="http://www.clementinecreative.co.za/reach-goals-free-printable-habit-tracker/">http://www.clementinecreative.co.za/reach-goals-free-printable-habit-tracker/</a> <br/>
            The Ultimate List of Habits:  175 Positive Actions for a Better You: <br/>
            <a href="http://liveboldandbloom.com/08/habits/list-of-habits">http://liveboldandbloom.com/08/habits/list-of-habits</a> <br/>
            Habit Formation:  The 21 Day Myth: <br/>
            <a href="http://www.forbes.com/sites/jasonselk/2013/04/15/habit-formation-the-21-day-myth/#23b5351a6fed">http://www.forbes.com/sites/jasonselk/2013/04/15/habit-formation-the-21-day-myth/#23b5351a6fed</a></p>

    </div>
</div>





