<!---definition-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Health:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;The condition of being sound in body, mind or spirit; freedom from physical disease or pain; a condition in which someone or something is thriving or doing well.&quot; - https://www.merriam-webster.com/dictionary/health</p>
        <p>&quot;Health is a state of complete physical, mental and social well-being and not merely the absence of disease or infirmity.&quot; - The World Health Organization </p>
        <p>&quot;Health is your state of Ideal Being in all dimensions of your life.  If we think about the body as a system, it is the sum of all the parts (mind, body and soul) and how well they function individually and together is what defines your ideal state of being.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America </p>
    </div>
</div>



<!---TFL Self Guided-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Know your Medical History:</strong></p>
        <p> Take the time to learn about your family&rsquo;s medical history.  Write down what you find out and share it with you doctor(s).  <br/>
            Click on this link to the <a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/manage-my-health/screening-guidelines-adults/" target="_blank">Blue Cross &amp; Blue Shield chart</a> of Preventive Screening Guidelines for Healthy Adults.  Print the chart and use it as a reference.</p>
        <p>Remember, it is important to practice preventative care in order to detect illness at an early stage when treatment has a greater chance of working.  Getting recommended preventive services and making healthy lifestyle choices are key steps to good health and Ideal Being. <br/></p>
    </div>
</div>


<!---Quotes-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;The greatest gift you can give yourself is to respect and love your body like you would your own child.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Health is more than just a good or bad feeling, an external aesthetic look, or numbers on a medical chart.  Health is the all-encompassing state of who we are as individuals.&quot; - Laila Proulx, blogger for the Huffington Post</p>
        <p>&quot;Health is a state of complete harmony of the body, mind and spirit.  When one is free from physical disabilities and mental distractions, the gates of the soul open.&quot; - B.K.S. Iyengar, the founder of the Iyengar yoga method and one of the foremost yoga teachers in the world</p>
        <p>&quot;If you don't take care of this the most magnificent machine that you will ever be given...where are you going to live?&quot; - Karyn Calabrese</p>
        <p>&quot;In reality, true health is the intersection of our physical, mental, emotional, social, and spiritual state of being at any one time.  Health is the most important aspect of our existence.  It affects us every moment of the day, can change instantly or over time, and is the number one determinant of the trajectory our life takes…  Health and happiness are inextricably linked.&quot; - Laila Proulx, blogger for the Huffington Post</p>
    </div>
</div>



<!---Did you know-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;There are many opportunities within your life to change your health status.  Just making one change can have a domino effect on other aspects of your health (1).&quot;</p>
        <p>&quot;You are in charge of your health.  By choosing what you eat, how physically active you are, whether or not you drink/smoke, and how you cope with stress can impact your health (1).&quot;</p>
        <p>The Centers for Disease Control (CDC) reports, more than one-third (36.5%) of U.S. adults are obese and have obesity-related conditions, including heart disease, stroke, type 2 diabetes and certain types of cancer.  These are some of the leading causes of preventable death (2).</p>
        <p>In addition, the CDC reports that 80 percent of chronic conditions are modifiable or completely preventable through life style changes (2).</p>
        <p><strong>Sources</strong></p>
        <ol class="no-pad-left">
            <li>Nordqvist, C. (2015, July 1). What Is Health? What Does Good Health Mean?  Retrieved February 02, 2017, from http://www.medicalnewstoday.com/articles/150999.php</li>
            <li>Centers for Disease Control, https://www.cdc.gov/obesity/data/adult.html</li>
        </ol>
    </div>
</div>
<!---TFL actions-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ul class="no-pad-left">
            <li>Make your health one of the most important things that you manage in your life.</li>
            <li>If you don&rsquo;t understand what you need to do to take good care of yourself, ask for help.</li>
            <li>Exercise!  It improves your physical health and overall Ideal Being.</li>
            <li>Get enough sleep (7-8 hours a night).</li>
            <li>Fuel your body for optimal performance.</li>
            <li>Limit your intake of salt, sugar and processed foods.</li>
            <li>Keep healthy foods easily accessible.</li>
            <li>Stay hydrated by drinking enough water (approximately eight 8-ounce glasses are recommended daily).</li>
            <li>Challenge yourself mentally (i.e. do a crossword puzzle, play card games, take a workshop or class and learn something new).</li>
            <li>Wear your sunglasses and use sunscreen to protect your eyes and skin from the sun.</li>
            <li>Practice self-care by doing something you enjoy every day.</li>
            <li>Do something daily to de-stress (i.e. walk outside, meditate, take a nap, deep breathe, do yoga, get a massage).</li>
            <li>Make sure you have a primary care physician.</li>
            <li>Follow your doctor&rsquo;s recommendations and don&rsquo;t be afraid to get a second opinion.</li>
            <li>Consult with your primary care physician for advice about changing unhealthy lifestyle habits (i.e. excessive drinking, tobacco use, stress eating or any addictive behavior that impacts your Ideal Being).</li>
            <li>If taking medications or supplements:</li>
            <ol>
                <li>Take your medications as prescribed by your doctor.  If you have several  doctors, make sure they all know what medications you are on, including any supplements.</li>
                <li>Talk with your doctor if your medication is causing side effects.</li>
                <li>Don&rsquo;t stop taking your medications without consulting your doctor.</li>
                <li>In an effort to save money, ask if your medication is available in a generic equivalent.</li>
            </ol>
            <li>Keep a list of your doctors and medicines in a place that can be accessed easily and share this list with a friend and/or family member.</li>
            <li>Learn your family health history and share that information with your doctors.</li>
            <li>Get your preventative screenings done based on your age, gender and family history.</li>
            <li>Mark your calendar for routine preventative screenings and checkups.</li>
            <li>Get regular eye and dental exams.</li>
            <li>Make sure you have health insurance.</li>
            <ol>
                <li>If you have health insurance through your company, reach out to human resources if you have questions about your coverage.</li>
                <li>Use in-network doctors as much as possible.</li>
                <li>When possible, seek care though your primary care physician.</li>
                <li>Only go to the emergency room in the case of a true emergency.</li>
            </ol>
            <li>Seek medical help if you suffer from chronic fatigue, depression, anxiety or pain for an extended period of time.  If you are having issues in any of these areas, below are some options.   </li>
            <ol>
                <li>Find out if your medical insurance provides coverage.  </li>
                <li>If you work, see if your company offers any onsite care or has an Employee Assistance Program (EAP).</li>
                <li>Check into the availability of faith-based, non-profit and/or government subsidized programs.</li>
                <li>If you are in school, find out if they offer any programs or services that can help.     </li>
            </ol>
            <li>Take ownership of your life and make informed decisions regarding your health and healthcare consumption.</li>
        </ul>
        </ul>
    </div>
</div>
<!---TFL Tips-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Practicing self-care, going to the doctor and staying in tune with your mind, body and soul will allow you to become a good steward of your health and overall Ideal Being.  Your body is like an amazing car.  How it functions is often a reflection of how you treat it, so be sure to care for it well and you will have many miles of life ahead. </p>
    </div>
</div>

<!---Tools and resources-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>
            Interactive screening tool regarding preventative screening recommendations based on age and gender on the Center for Disease Control website:<br/>
            <a href="https://www.cdc.gov/prevention/" target="_blank">https://www.cdc.gov/prevention/</a><br>
        What Is Health?  What Does Good Health Mean?  By Christian Nordqvist, article from Medical News Today:<br/>
            <a href="http://www.medicalnewstoday.com/articles/150999.php" target="_blank">http://www.medicalnewstoday.com/articles/150999.php</a><br>
        What Is Health?  The Huffington Post:<br/>
            <a href="http://www.huffingtonpost.com/kaila-proulx/what-is-health_b_10248944.html" target="_blank">http://www.huffingtonpost.com/kaila-proulx/what-is-health_b_10248944.html</a><br>
        7 Simple Ways to Improve Your Health, article from Rush University Medical Center:<br/>
            <a href="https://www.rush.edu/health-wellness/discover-health/7-simple-ways-improve-your-health" target="_blank">https://www.rush.edu/health-wellness/discover-health/7-simple-ways-improve-   your-health</a><br>
        7 Little Ways To Improve Your Health, article by Andrea Atkins, writer for The Huffington Post:<br/>
            <a href="http://www.huffingtonpost.com/2013/05/11/improve-your-health-little-ways_n_3248388.html" target="_blank">http://www.huffingtonpost.com/2013/05/11/improve-your-health-little-ways_n_3248388.html</a>
        </p>

    </div>
</div>





