<!---definition-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Home:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>"The place where one lives permanently, especially as a member of a family or household." https://www.merriam-webster.com/dictionary/home</p>

        <p>"The environment in which you live and all the elements that define your living space." Terrie Reeves, Founder, Empower Health America</p>

    </div>
</div>

<!---TFL Self Guided-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time. We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked
            to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Pause and Take Inventory:</strong></p>
        <p>Take inventory of the top ten projects you want to do in your home to make it more comfortable, organized and peaceful. Write them down and then prioritize the projects in order of importance. Post the list in a highly visibility spot as a reminder of your commitment
            to tackle the projects. Set a goal of tackling two projects per month and invite a friend or family member to help you. Set a date and put it on your calendar. Set up a rewards system—once each project is completed, reward yourself. Pick things that will inspire you
            like a massage, dinner out, a concert or sporting event or a new book or outfit. Take before and after pictures to remind you of the good job you did.</p>

        <p><strong>Dream Board:</strong></p>

        <p>Take pictures of both tangible and intangible things you would like to see in your home and paste them on a dream board. This can serve as a powerful visual reminder of the types of things and energy you what in your home.</p>

        <p>Example of things to add to your board; a picture of:</p>
        <ul>
            <li>Smiling faces</li>

            <li>Someone relaxing</li>

            <li>A dinner table with family and friends</li>

            <li>Pets</li>

            <li>A piece of art you want to buy</li>

            <li>Fresh flowers and plants</li>

            <li>Beautiful lighting</li>

            <li>Children laughing</li>

            <li>Clean and organized drawers and closets</li>

            <li>A beautiful sofa that you want to buy</li>

            <li>People relaxing outside in a patio area</li>

            <li>Your dream bath room with a Jacuzzi</li>
        </ul>

        <p>A picture is worth a thousand words.</p>
    </div>
</div>


<!---Quotes-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>"When you come home, you should be able to exhale and feel an immediate sense of peace." - Terrie Reeves, Founder, Empower Health America</p>

        <p>"The home should be the treasure chest of living." - Le Corbusier</p>

        <p>"Where we love is home—home that our feet may leave, but not our hearts." - Oliver Wendell Holmes, Sr.</p>

        <p>"Coming home to my family afterward makes the work richer, easier and more fun." - Edie Falco</p>

        <p>"I want my home to look good, feel good, and smell good. I want it to be inclusive, to reflect the people who live there." - Cindy Crawford</p>

        <p>"Going home and spending time with your family and your real friends keeps you grounded." - Jennifer Ellison</p>

    </div>
</div>


<!---Did you know-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>"When your environment is cluttered, the chaos restricts your ability to focus. The clutter also limits your brain’s ability to process information. Clutter makes you distracted and unable to process information as well as you do in an uncluttered, organized, and
            serene environment (1)."</p>

        <p>"Clutter can play a significant role in how we feel about our homes, our workplaces, and ourselves. Messy homes and workspaces leave us feeling anxious, helpless, and overwhelmed. Yet, rarely is clutter recognized as a significant source of stress in our lives
            (2)."</p>

        <p>Keep your home feeling clean and fresh. "The "smell" receptors in your nose communicate with parts of your brain (the amygdala and hippocampus) that serve as storehouses for emotions and memories. When you breathe in essential oil molecules, some researchers believe
            they stimulate these parts of your brain and influence physical, emotional, and mental health. For example, scientists believe lavender stimulates the activity of brain cells in the amygdala similar to the way some sedative medications work. Other researchers think
            that molecules from essential oils may interact in the blood with hormones or enzymes (3)."</p>

        <p>The average U.S. woman uses 12 personal care products and/or cosmetics a day, containing 168 different chemicals. While most men use fewer products, they're still exposed to about 85 such chemicals daily, while teens, who use an average of 17 personal care products a
            day, are exposed to even more! These chemicals are stored in every cell and cause inflammation that leads to havoc on overall health for the individuals and generationally. Exposure to many of these chemicals over time can result in hormonal disruptions, extreme
            fatigue, skin issues, and disruptions in cognitive processes (4).</p>

        <p>Plants in the home can allow you to breathe easier and help to relieve dry skin, colds, and dry coughs because they constantly release moisture and purify the air. Plants can help to improve overall health, stop headaches, make you happy, decrease blood pressure,
            improve sleep, and even sharpen focus (5).</p>

        <p><strong>Sources:</strong></p>
        <ol>
            <li>https://unclutterer.com/2011/03/29/scientists-find-physical-clutter-negatively-affects-your-ability-to-focus-process-information/</li>
            <li>Sherrie Bourg Carter Psy.D. https://www.psychologytoday.com/blog/high-octane-women/201203/why-mess-causes-stress-8-reasons-8-remedies</li>
            <li>http://umm.edu/health/medical/altmed/treatment/aromatherapy</li>
            <li>Environmental Working Group (EWG) http://mastersinhealthcare.com/blog/2011/15-fabulous-health-benefits-of-house-plants/</li>
        </ol>

    </div>
</div>


<!---TFL actions-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol>
            <li>Take a proactive look at your surroundings and be grateful for all the beauty and treasures you have in your home.</li>
            <li>Take inventory of all the things you want to change or better organize in your home. Set realistic goals that are manageable and make small changes over time. Start small. Declutter one small corner, cabinet or drawer and experience small victories.</li>
            <li>Hire a decorator to help you make home improvements or a professional organizer to help you declutter.</li>
            <li>If you need to save money, take a few home improvement classes at the local hardware store or recruit a friend who has a flair for decorating and organizing to help you.</li>
            <li>Talk to a Feng Shui expert and consider Feng Shui your home.</li>
            <li>If you do not like something in your home and you have not used it in a long time, give it away or throw it out.</li>
            <li>Yard sales are a great way to make some money and declutter at the same time. One man’s trash is another man’s treasure.</li>
            <li>Keep things tidy by doing such simple things as making your bed, closing drawers, loading the dishwasher and taking out the trash.</li>
            <li>Read labels and pay attention to the toxins and chemicals you allow into your home. Ensure that the chemicals you are using to clean are nontoxic. Sometimes the cleaning products you use are more hazardous to your health than the dirt you are trying to remove.
            </li>
            <li>Reduce germs and allergies by vacuuming and dusting a little more.</li>
            <li>Change your detergent to one that has NO chemicals and is dermatologist recommended.</li>
            <li>Learn how smells and aromas can add to your home health and how they impact your mood.
                <ul>
                    <li>Use natural fragrances that evoke a positive reaction or association</li>
                    <li>Choose essential oils and note that you can pick smells that help you, i.e. relax, get energized or sleep.</li>
                    <li>Light your favorite candle and elevate your mood.</li>
                    <li>Use lotions that have a shorter smell life, as they tend to be heathier for your skin. Remember, you are putting them on your largest organ—your skin.</li>
                </ul>

            <li>Do a little baking and sweeten you home.</li>
            <li>Start an herb garden and enjoy watching it grow.</li>
            <li>Create a sacred spot in your home where you can go to unwind and relax.
                <ul>
                    <li>Place a favorite chair in a quiet area and have a comfortable blanket and cozy slippers close by.</li>
                    <li>Set up a prayer or meditation space and use it. Both activities aid in calming the mind and will help you become more aware of how you are feeling.</li>
                </ul>
            </li>
            <li>Listen to calm music that will sooth your soul.</li>
            <li>Pick lighting that is calming; dimmer switches are great.</li>
            <li>Put on comfy clothes when you get home for the day. It will help you relax.</li>
            <li>Fill your home with art that evokes positive emotions and makes you smile.</li>
            <li>Turn off the TV, put on some music, whip out your Martha Stewart apron and fix a home-cooked meal.
                <ul>
                    <li>Use your fancy plates, light a candle, turn on soft music and have a relaxing sit down dinner.</li>
                    <li>If you have kids, inspire them to create a centerpiece for the dinner table.</li>
                </ul>
            </li>
            <li>Put all those packages of trail mix, flour, sugar, cereal, etc. in mason jars or glass canisters. It will give your kitchen a whole new look.</li>
            <li>Notice how the people you invite into your home impact the energy.</li>
            <li>Turn your cell phones off and make time for meaningful conversations in your home with friends or family.</li>
            <li>Host a party—it is a fun reason to clean things up and decorate a bit.</li>
            <li>Make your guest room extra special and sleep in it sometimes for a change of scenery.</li>
            <li>Know that your "surprise" guests do not have a perfect home either. Be grateful for their company and don’t stress out if your home isn’t in perfect order.</li>
            <li>Alone time is healthy. Make sure there is a balance of togetherness and alone time for every person in your home.</li>
            <li>Leave the workday at the office when you can. It will be there when you go back. If you work from home, establish good work-life boundaries.</li>
            <li>Give people space when they come home to transition from a busy day.</li>
            <li>Adopt a pet and bring some extra love into your home.</li>
            <li>Bring some live plants into your home. They are a beautiful and healthy addition.</li>
            <li>Bring fresh flowers into your home; they always brighten up a room.</li>
            <li>Paint one of your walls with chalkboard paint and write inspirational messages, quotes and affirmations on it that make you smile.</li>
            <li>Place photos throughout your home that hold happy memories for you.</li>
            <li>Try turning off all electronic devices one night per week.</li>
            <li>Empower everyone to pitch in to help keep your home clean and clutter free.</li>
            <li>Make your bedroom a sacred place to relax an rest.
                <ul>
                    <li>Keep your TV out of your bedroom. Watching TV and using technology before bedtime makes it harder to fall asleep.</li>
                    <li>Use a white noise or nature sound machine if you are having trouble sleeping.</li>
                    <li>Keep clean comfortable pillows and sheets on your bed.</li>
                    <li>Invest in new bed linens that make you feel like you are in a luxury hotel.</li>
                    <li>Position a good book on your bed stand and read it to help you unwind.</li>
                    <li>Keep your bedroom dark and cool at night; that makes it easier to fall asleep.</li>
                    <li>Make your bed in the morning, open the shades and take an extra minute to look outside and take in the view.</li>
                </ul>
            </li>

            <li>Notice how your surroundings affect your mood and proactively set out to make your house a safe and comfortable place to call home.</li>

        </ol>

    </div>
</div><!---TFL Tips-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p><strong>Form Good Daily Habits:</strong></p>
        <ul>
            <li>Making your bed</li>
            <li>Putting your clothes away</li>
            <li>Loading and running the dishwasher</li>
            <li>Taking out the trash</li>
            <li>Throwing out old food</li>
            <li>Checking your mail and discarding all the junk</li>
        </ul>
        <p>Forming good home habits will serve you well. Small tasks that you do daily keep them from become big overwhelming projects later.</p>

        <p><strong>Tip to Reduce Stress:</strong></p>
        <ul>
            <li>When you come home put your keys, phone, wallet or pocket book in the same place.</li>

        </ul>

    </div>
</div>


<!---Tools and resources-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>
            Relaxing at home just got easier: <br><a href="http://tinyurl.com/l68m4yy" target="_blank">http://tinyurl.com/l68m4yy</a> <br>

            Scientists find physical clutter negatively affects your ability to focus, process information: <br><a href="http://tinyurl.com/kg9frmz" target="_blank">http://tinyurl.com/kg9frmz</a> <br>

            Why Mess Causes Stress: 8 Reasons, 8 Remedies - Sherrie Bourg Carter Psy.D.: <br><a href="http://tinyurl.com/gmuyvaf" target="_blank">http://tinyurl.com/gmuyvaf</a> <br>

            Ted Talk - Toxic Baby: <br><a href="http://tinyurl.com/ldzt9lg" target="_blank">http://tinyurl.com/ldzt9lg</a> <br>

            Ted Talk - Toxic baggage: a journey to healthier living:<br> <a href="http://tinyurl.com/kz63n5k" target="_blank">http://tinyurl.com/kz63n5k</a> <br>

            Aromatherapy: <br><a href="http://tinyurl.com/psv9n22" target="_blank">http://tinyurl.com/psv9n22</a> <br>

            15 Fabulous Health Benefits of House Plants:<br> <a href="http://tinyurl.com/l6zprvv" target="_blank">http://tinyurl.com/l6zprvv</a> <br>

            The Ridiculously Thorough Guide to Decluttering Your Home: <br><a href="http://tinyurl.com/h8xrz52" target="_blank">http://tinyurl.com/h8xrz52</a> <br>

            20 Tips to Declutter Your Home:<br> <a href="http://tinyurl.com/lqln6xu" target="_blank">http://tinyurl.com/lqln6xu</a> <br>

            Clutterbugs, Beware: 10 Books for Organizing Your Home: <br> <a href="http://tinyurl.com/mq3thq4" target="_blank">http://tinyurl.com/mq3thq4</a> <br>

            Top 10 Resources and Inspirations for Decluttering Your Home: <br> <a href="http://tinyurl.com/ljn8eoz" target="_blank">http://tinyurl.com/ljn8eoz</a><br> <a href=" http://tinyurl.com/kz63n5k" target="_blank"> http://tinyurl.com/kz63n5k</a> <br>

        </p>

    </div>
</div>







