<!---definition-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Intellect:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;A person’s ability to think and understand especially ideas at a high level.&quot; - Cambridge Dictionary </p>
        <p>&quot;Is a term used in studies of the human mind, and refers to the ability of the mind to come to correct conclusions about what is true or real, and about how to solve problems.&quot; - https://en.wikipedia.org/wiki/Intellect</p>
    </div>
</div>

<!---TFL Self Guided-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Meditation and Visualization:</strong></p>
        <p>Meditation on a regular basis can help improve your IQ score, especially when a factor of visualization is added to the breathing exercise.  Try visualizing a new possibility or an activity, activating all your senses while doing so.  It could go something like
            this:</p>
        <p><i>I’m now doing my daily bit of meditation; I’m focusing on my breathing.  While doing so, I’m visualizing a bright red apple.  I take it in my hands, and now I’m feeling it.  I bring it closer to me; I smell and feel the essence of the juicy ripe apple.  I take a few
            bites and taste its sweetness before my attention breaks.</i>
        <p>This is a simple visualization exercise that will stimulate all your mind’s senses simultaneously.  Meditation is much more than a spiritual endeavor.  It stimulates your intellect by stimulating the cortexes of your brain, improving your IQ over time (3).</p>
        <p><strong>Source</strong><br><br>(3) Srikanth AN, &quot;8 Brain Exercises to Improve your IQ Score;&quot; shoutmeloud.com</p>

    </div>
</div>


<!---Quotes-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Challenging the status quo requires the ability to see beyond the obvious and to have curiosity, courage and an open mind.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Some people think only intellect counts:  knowing how to solve problems, knowing how to get by, knowing how to identify an advantage and seize it.  But the functions of intellect are insufficient without courage, love, friendship, compassion and empathy.&quot; -
            Dean Koontz</p>
        <p>&quot;Intellect is a part of a good faith.  Intellect is the light, the heart is the direction.&quot; - Tariq Ramadan</p>
        <p>&quot;Ideas are the source of all things.&quot; - Plato </p>
    </div>
</div>



<!---Did you know-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Individuals with a high level of intellect are more likely to obtain more knowledge within their jobs, seek more challenging tasks, produce more creative work and more successfully cope with changes in tasks and environments (1).</p>
        <p>A key component to being intellectual is found to be an element of curiosity (1).</p>
        <p>Intellect has also been shown to foster adaptability due to the association with learning new skills but also attributed to by an individual&rsquo;s enjoyment of thinking and problem solving (1).</p>
        <p>Individuals with high levels of intellect are more likely to discover new problems as well as more creative solutions to solve them (1).</p>
        <p>Signs of Intellectual Wellness:</p>
        <ol class="no-pad-left">
            <li>Development of good time management skills</li>
            <li>Ability to challenge yourself to see all sides of an issue</li>
            <li>Becoming a critical thinker</li>
            <li>Development of your own ideas, views and opinions</li>
            <li>Exposing yourself to new ideas, people and beliefs that are different from your own</li>
            <li>Becoming aware of who you are and what you value (2)</li>
        </ol>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>Social scientists, Patrick Mussel and Maik Spengler, published in Journal of Research in Personality</li>
            <li>University of New Hampshire, Office of Health Education and Promotion</li>
        </ol>
    </div>
</div>




<!---TFL actions-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Discover your passions and pursue them.</li>
            <li>Surround yourself with people who will challenge you in positive ways.</li>
            <li>Learn a new language or musical instrument.</li>
            <li>Take a class in something you want to explore such as cooking, painting, yoga, writing, meditation and martial arts. </li>
            <li>Keep your mind sharp by doing brain games such as crossword puzzles or online puzzles like Sudoku.</li>
            <li>Read a book on a topic that interests you but you don&rsquo;t know much about.</li>
            <li>Find meaningful ways to fill your idle time (i.e. watch TED Talks and documentaries, journal, have a soulful conversation with someone).</li>
            <li>Continue your education by going back to school, taking a class online or attending a seminar or conference on something that interests you.  </li>
            <li>Travel.  It is a great way to learn and experience new things. </li>
            <li>Visit museums. </li>
            <li>Immerse yourself in another culture to broaden your perspective.</li>
            <li>Seek out a mentor who can help you continue to grow.</li>
            <li>Have a conversation with an expert in an area about which you are interested in learning.  </li>
            <li>Do a crossword puzzle or play chess with friends and family members rather than watching TV or surfing the internet and social media.</li>
            <li>Spend time talking with older adults; they have lots of wisdom and are usually eager to share. </li>
            <li>Get adequate rest so your brain gets time to recharge.</li>
            <li>Eat healthy; your brain will perform better.</li>
            <li>Watch you stress levels and limit multi-tasking; both impact the brain in a negative fashion.</li>
            <li>Challenge yourself so you can grow intellectually.  </li>
            <li>Stay curious, open-minded and always inquire rather than defend.   </li>
        </ol>
    </div>
</div><!---TFL Tips-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ul class="no-pad-left">
            <li>Improve Time Management Skills:</li>
            <ul>
                <li>Make a &quot;to-do&quot; list that allows you to cross off completed tasks as you go.</li>
                <li>Prioritize tasks in order of importance and tackle the most important first.</li>
                <li>Multi-task within your limits.</li>
            </ul>
            <li>Remove Objectivity:</li>
            <ul>
                <li>Learn there is more than one way to do something.</li>
                <li>There isn't always a &quot;right&quot; answer, but sometimes there are multiple answers.</li>
                <li>Stay open-minded to new ideas, insights, thoughts, expressions and values.</li>
                <li>Expose yourself to differences.</li>
            </ul>
            <li>Improve Critical Thinking:</li>
            <ul>
                <li>Be actively engaged in conversation and conscious of what&rsquo;s going on in your environment.</li>
                <li>Ask questions of yourself or others as you reflect.</li>
                <li>Challenge the norm; don't automatically accept an answer at face value without giving it thought.</li>
                <li>Find patterns and connections to examples that relate to your life.</li>
                <li>Keep your brain&nbsp;active, engaged and questioning (2). <br/> <strong></strong></li>
            </ul>
        </ul>
        <p><strong>Sources:</strong><br><br>(2) University of New Hampshire, Office of Health Education and Promotion</p>

    </div>
</div>


<!---Tools and resources-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Intelligence vs. Intellect: <br/> <a href="http://www.huffingtonpost.com/michael-neill/intelligence-vs-intellect_b_9369632.html" target="_blank">http://www.huffingtonpost.com/michael-neill/intelligence-vs-intellect_b_9369632.html</a> <br/> Brain power: &nbsp;10 ways to boost your
            intellect: <br/> <a href="http://www.telegraph.co.uk/news/health/7924644/Brain-power-10-ways-to-boost-your-intellect.html" target="_blank">http://www.telegraph.co.uk/news/health/7924644/Brain-power-10-ways-to-boost-your-intellect.html</a> <br/> TED Talk--the evolution of increasing
            IQ levels: <br/> <a href="https://www.ted.com/talks/james_flynn_why_our_iq_levels_are_higher_than_our_grandparents" target="_blank">https://www.ted.com/talks/james_flynn_why_our_iq_levels_are_higher_than_our_grandparents</a> <br/> 9 ways to Develop Your Intelligence at Any Age: <br/>
            <a href="http://goodlifezen.com/9-ways-to-develop-your-intelligence-at-any-age/" target="_blank">http://goodlifezen.com/9-ways-to-develop-your-intelligence-at-any-age/</a> <br/> How 30 Minutes a Day Can Increase Your Intelligence: <br/>
            <a href="http://www.lifehack.org/articles/productivity/how-half-an-hour-a-day-can-increase-your-intelligence.html" target="_blank">http://www.lifehack.org/articles/productivity/how-half-an-hour-a-day-can-increase-your-intelligence.html</a> <br/> Brain Matrix--Brain Training, Brain
            Games, and Brain Fitness: <br/> <a href="http://www.brainmetrix.com" target="_blank">http://www.brainmetrix.com</a> <br/> 10 Best Apps to Train Your Brain: <br/> <a href="http://dailyburn.com/life/tech/train-your-brain-apps/" target="_blank">http://dailyburn.com/life/tech/train-your-brain-apps/</a>
            <br/> Letting People Challenge You So You Can Grow: <br/> <a href="http://tinybuddha.com/blog/letting-people-challenge-you-so-you-can-learn-and-grow/" target="_blank">http://tinybuddha.com/blog/letting-people-challenge-you-so-you-can-learn-and-grow/</a> <br/> 30 Easy Ways To Increase
            Your Intelligence: <br/> <a href="https://www.smartblogincome.com/life/30-easy-ways-to-increase-your-intelligence/" target="_blank">https://www.smartblogincome.com/life/30-easy-ways-to-increase-your-intelligence/</a> <br/> 42 Practical Ways to Improve Yourself: <br/>
            <a href="http://www.lifehack.org/articles/lifestyle/42-practical-ways-to-improve-yourself.html" target="_blank">http://www.lifehack.org/articles/lifestyle/42-practical-ways-to-improve-yourself.html</a></p>
    </div>
</div>





