<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Life Balance:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;To bring into or maintain in a state of equilibrium.  Taking everything into consideration; all in all.&quot; - http://www.thefreedictionary.com/life+balance</p>
        <p>&quot;Having a sense of fulfillment and satisfaction in the way you spend your time.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>

    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Life Balance Inventory:</strong></p>
        <p>Look at your calendar and take inventory of how you have spent time in the last 30 days.  Write down what you did that made you happy in the following three areas of your life and notice the amount of time and energy you put into each:</p>
        <ul>
        <li>Work</li>
        <li>Self-care and/or enjoyable activities</li>
        <li>Friends and family</li>
        </ul>

        <p>Now do the same exercise again and note the main things that caused you to feel unbalanced in each area.</p>

        <p>Do not judge yourself based on how you answered the above questions.  Just observe the things you noted and the percentage of time spent in each area.  This simple awareness exercise can help you determine what you might want to do more or less of in your life.</p>

    </div>
</div>




<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Equanimity is the delicate balance between doing and being. You will feel a powerful sense of fulfillment and peace in this sweet space.&quot; Terrie Elizabeth Reeves - Founder of Empower Health America.</p>
        <p>&quot;Balance is not something you find, it's something you create&quot; - Jana Kingsford, UNJUGGLED: Lessons From a Decade of Blending Business, Babies, Balance and Big Dreams</p>
        <p>&quot;There is more to life than increasing its speed.&quot; - Mahatma Gandhi</p>
        <p>&quot;Happiness is not a matter of intensity but of balance, order, rhythm and harmony.&quot; - Thomas Merton

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>According to the Mayo Clinic, when your work life and personal life are out of balance, your stress level is likely to soar.  Below are just a few things you should know.  Imbalance in your life can cause:</p>
        <ul>
            <li><strong>Fatigue.</strong>  When you're tired, your ability to work productively and think clearly might suffer, which could take a toll on your professional reputation or lead to dangerous or costly mistakes.</li>
            <li><strong>Poor health.</strong>  Stress is associated with adverse effects on the immune system and can worsen the symptoms you experience from any medical condition.  Stress also puts you at risk for substance abuse.</li>
        <li><strong>Lost time with friends and loved ones.</strong>  If you're working too much, you might miss important family events or milestones.  This can leave you feeling left out and might harm relationships with your loved ones.  It's also difficult to nurture friendships if you're
            always working.</li>
        <li><strong>Increased expectations.</strong>  If you regularly work extra hours, you might be given more responsibility, which could lead to additional concerns and challenges (1).
        </li>
        </ul>

        <p>Trying to do too much can create stress in your life, which over time can cause more damage than good.  According to The American Institute of Stress, &quot;There are numerous emotional and physical disorders that have been linked to stress including depression, anxiety, heart attacks, stroke, hypertension, [and] immune system disturbances that increase susceptibility to infections (2).&quot;</p>

        <p>If you have good work-life balance, there appear to be some measurable benefits.  According to a Randomized Controlled Trial (RCT) conducted by Grant, Frith, & Burton (2009), after just four coaching sessions on work-life balance, executives participating in the trial showed a marked improvement in performance, fulfillment, and personal and professional satisfaction.  Other positive measures included:</p>
        <ul>
        <li>Enhanced goal attainment</li>
        <li>Enhanced resilience</li>
        <li>Enhanced workplace well-being</li>
        <li>Reduced depression</li>
        <li>Reduced stress</li>
        <li>Increased ability to deal with organizational change (3)</li>
        </ul>

        <p><strong>Sources:</strong></p>
        <ol>
            <li>http://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/work-life-balance/art-20048134</li>
            <li>https://www.stress.org/stress-effects/</li>
            <li>http://www.selfgrowth.com/articles/benefits_of_work_life_balance</li>
        </ol>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Become more mindful of how you spend your time and what brings you joy and happiness.</li>
            <li>Write down the things that are important to you and make time to integrate them into your life.</li>
            <li>Reflect on the dimensions of the Ideal Being model and determine whether you are out of balance in the dimensions that are important to you.</li>
            <li>Look at your calendar and take inventory of how you are spending your time.  Ask yourself, &quot;Does my life look and feel balanced?&quot;</li>
            <li>Become aware of imbalances and notice their impact on your life.</li>
            <li>Learn to recognize when you are being stretched too thin.</li>
            <li>Make changes in the dimensions of your life that feel out of balance.</li>
            <li>Write down a few things that you can begin doing to restore balance.</li>
            <li>Set realistic expectations for yourself and others and evaluate your commitments daily.</li>
            <li>Pause before saying &quot;yes&quot; to taking on additional tasks and duties.  Ask yourself, &quot;Can I take on more responsibility and maintain a healthy life balance?&quot;</li>
            <li>Be honest with yourself regarding what you can accomplish and still maintain good life balance.</li>
            <li>Watch for tendencies to over-commit and over-schedule.</li>
            <li>Build in extra time each day for the unexpected and recognize that things will not always go as planned.</li>
            <li>Find someone you can reach out to if you feel out of balance and ask for help.</li>
            <li>Recognize how you feel when your life is balanced and notice the things you are doing in order to achieve this ideal state.</li>
            <li>Your time is valuable so be mindful of the time you spend using electronic devices.  Put them down, look up and engage in life.</li>
            <li>Live a life that leaves room for personal growth, time for loved ones and time for yourself to pause, reflect and recharge.</li>

        </ol>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Achieving balance requires living a life that reflects the things that are important to you.  In doing so, you will experience greater self-control.  When you are balanced, you will have the capacity to give time, energy and attention to the things you love, which brings you closer to a state of peace and wholeness.</p>
       <p>Life is like a scale that can be tipped left or right at any time.  By becoming more conscious of how you are spending your time, thoughts and energy, you will be able to maintain a healthier more balanced life.  When you feel off balance, take a few moments to
        feel and acknowledge what is causing the imbalance.  Once you are aware, you can take action to recalibrate in a more intentional manner.  Even small adjustments can make a big difference.  It may be something as simple as asking a friend for help, adjusting a deadline or delegating some tasks to a co-worker.</p>
        <p>Make keeping your life balanced a priority.  Being out of balance can put you in an unhealthy state, which can impact your potential for living a productive, healthy and happy life.</p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ul class="no-pad-left">
            <li>Work-Life Balance Defined:<br><a href="http://www.worklifebalance.com/work-life-balance-defined.html" target="_blank">http://www.worklifebalance.com/work-life-balance-defined.html</a></li>
            <li>TED Talk-How to Make Work Life Balance Work:<br><a href="http://www.ted.com/talks/nigel_marsh_how_to_make_work_life_balance_work" target="_blank">http://www.ted.com/talks/nigel_marsh_how_to_make_work_life_balance_work</a></li>
            <li>LifeHack Blog:<br><a href="http://www.lifehack.org/articles/productivity/10-simple-ways-to-find-balance-and-get-your-life-back.html" target="_blank">http://www.lifehack.org/articles/productivity/10-simple-ways-to-find-balance-and-get-your-life-back.html</a></li>
            <li>wikiHow to Find Balance in Your Life:<br><a href="http://www.wikihow.com/Find-Balance-in-Your-Life" target="_blank">http://www.wikihow.com/Find-Balance-in-Your-Life</a></li>
            <li>Life Balance & Success:<br><a href="http://www.forbes.com/sites/louisefron/2014/08/28/creating-life-balance-to-achieve-success/#116d860e6383" target="_blank">http://www.forbes.com/sites/louisefron/2014/08/28/creating-life-balance-to-achieve-success/#116d860e6383</a></li>
            <li>Balanced Life Quotes:<br><a href="http://www.essentiallifeskills.net/balancedlifequotes.html" target="_blank">http://www.essentiallifeskills.net/balancedlifequotes.html</a></li>
            <li>Body & Soul Blog—How to Find Balance:<br><a href="http://www.bodyandsoul.com.au/health/health-advice/how-to-find-balance-in-your-life/news-story/d588d181b1a3df451206c7a08ff55592" target="_blank">http://www.bodyandsoul.com.au/health/health-advice/how-to-find-balance-in-your-life/news-story/d588d181b1a3df451206c7a08ff55592</a></li>
            <li>The Power of the Plate:  How to Live a Well Balanced Life:<br><a href="http://www.oprah.com/spirit/How-to-Live-a-Well-Balanced-Life" target="_blank">http://www.oprah.com/spirit/How-to-Live-a-Well-Balanced-Life</a></li>
            <li>Work-Life Balance Tips that Lead to More Happiness:<br><a href="http://motto.time.com/4264761/12-work-life-balance-tips-that-will-make-you-a-happier-and-more-successful-person/" target="_blank">http://motto.time.com/4264761/12-work-life-balance-tips-that-will-make-you-a-happier-and-more-successful-person/</a></li>
            <li>The Social Life of Information (Book)—origin of life balance issues:<br><a href="https://books.google.com/books?hl=en&lr=&id=2rgbwF6vn0EC&oi=fnd&pg=PR9&dq=what+makes+life+balanced&ots=xJxAH-VkOY&sig=sYetWc03QiYHaybznQF99YvG_vk#v=onepage&q&f=false" target="_blank">https://books.google.com/books?hl=en&lr=&id=2rgbwF6vn0EC&oi=fnd&pg=PR9&dq=what+makes+life+balanced&ots=xJxAH-VkOY&sig=sYetWc03QiYHaybznQF99YvG_vk#v=onepage&q&f=false</a></li>
            </ul>
    </div>
</div>





