<!---definition--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i>
        Definition of Nutrition:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>“The process of providing or obtaining the food necessary for health and growth.” -
            English Oxford Living Dictionary </p>
        <p>“Nutrition is the intake of food, considered in relation to the body’s dietary needs.
            Good nutrition–an adequate, well balanced diet combined with regular physical
            activity–is a cornerstone of good health.  Poor nutrition can lead to reduced immunity,
            increased susceptibility to disease, impaired physical and mental development, and
            reduced productivity.” - World Health Organization</p>
    </div>
</div>



<!---TFL Self Guided--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided
        Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Nutritional Tool:</strong></p>
        <p> There are several fun and informative games, exercises and tools available to help you assess your nutritional knowledge and guide you in your nutritional choices.  Many of these are interactive and online.  Here are a few:</p>
        <p>
            <a href="https://www.choosemyplate.gov/quiz">USDA Choose My Plate Quiz</a> <br/>
            <a href="https://www.google.com/search?client=safari&amp;rls=en&amp;q=waiting+20+minutes+to+feel+full&amp;ie=UTF-8&amp;oe=UTF-8#q=nutrition+game+for+adults&amp;*">Epicurious blog with links to a variety of quizzes and resources</a></p>

    </div>
</div>



<!---Quotes--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>“Your body is your home, so treat it with TLC and fuel it to weather the storms.” - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>“Those who think they have no time for healthy eating will sooner or later have to find time for illness." - Edward Stanley (1826-1893), British statesman</p>
        <p>“One must eat to live, not live to eat.” - Molière (1622-1673), French playwright</p>
        <p>“To eat is a necessity, but to eat intelligently is an art.” - Francois de La Rochefoucauld</p>
        <p>“The food you eat can either be the safest and most powerful form of medicine, or the slowest form of poison.” - Ann Wigmore</p>
    </div>
</div>




<!---Did you know--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>We think of food as nourishing our bodies so that they can function properly.  It is just
            as important to remember that food nourishes the brain, which ultimately is responsible
            for ALL of the body’s processes—your thoughts and movements, breathing and heartbeat,
            your senses.</p>
        <p>“The brain works hard 24/7, even while you’re asleep.  This means your brain requires a
            constant supply of “fuel” from the foods you eat…what you eat directly affects the
            structure and function of your brain and, ultimately, your mood.  Like an expensive car,
            your brain functions best when it gets only premium fuel.  Eating high-quality foods
            that contain lots of vitamins, minerals and antioxidants nourishes the brain and
            protects it from oxidative stress — the ‘waste’ produced when the body uses oxygen,
            which can damage cells (1).”</p>
        <p>The standard American diet is heavy in saturated fats, partially-hydrogenated oils,
            refined carbohydrates and highly processed foods.  This diet, in combination with a
            sedentary lifestyle, large portion sizes and high stress, is blamed for the increase in
            obesity and associated diseases in the U.S. (2)</p>
        <p>On the other hand, “Americans whose dietary patterns include fresh, whole foods like
            fruits and vegetables, whole grains, legumes, lean meats and fish have a lower incidence
            of major chronic disease and especially of diet-related diseases (2).”</p>
        <p>“Recent evidence suggests that good nutrition is essential for our mental health and that
            several mental health conditions may be influenced by dietary factors (3).”</p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>“Nutritional psychiatry: Your brain on food.” http://www.health.harvard.edu/blog/nutritional-psychiatry-your-brain-on-food-201511168626</li>
            <li>“How Does Diet Impact Health?” https://www.takingcharge.csh.umn.edu/how-does-diet-impact-health</li>
            <li>“Diet and mental health.” https://www.mentalhealth.org.uk/a-to-z/d/diet-and-mental-health</li>
        </ol>
    </div>
</div>
<!---TFL actions--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:
    </h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Slow down as you eat.  It takes 20 minutes for the brain to register when you are full.</li>
            <li>Consider taking probiotic supplements.  These contain healthy bacteria that have been shown to regulate stress, anxiety and mental outlook.</li>
            <li>Even if you are not a vegetarian, consider eating an occasional, mostly plant-based meal.</li>
            <li>Know what your Body Mass Index (BMI) is and how to calculate it.  This will help you understand if you are at risk for obesity or chronic health conditions.</li>
            <li>Choose your food wisely and fuel your body for optimal performance. </li>
            <li>Combine healthy eating with daily exercise. </li>
            <li>Drink 8 to 10 glasses of water each day.</li>
            <li>Pay attention to your eating patterns: how, when and what you eat. How does eating certain foods make you feel?  Keeping a journal may help you become more aware of any unhealthy habits.</li>
            <li>Learn more about foods that can help to strengthen your immune system and fight against diseases.</li>
            <li>Eat with others.  The social aspect of eating is important to well-being.</li>
            <li>Consider eating a “clean” diet for two to three weeks by cutting out all processed foods and sugar.</li>
            <li>You may want to try dairy-free, gluten-free or caffeine-free diets to see if these foods are negatively impacting your health. </li>
            <li>Fuel your body by spacing meals and snacks 3 to 4 hours apart and choosing a healthy protein and carbohydrate source at each meal.</li>
            <li>Have healthy snack food handy for when you get the munchies. </li>
            <li>Try not to go for long periods of time without eating because your blood sugar drops and you are more inclined to binge when you do eat. </li>
            <li>Use herbs and spices to add extra flavor rather than oils and butter. </li>
            <li>Eat foods that are in season.</li>
            <li>Shop at the area farmers market and buy local when you can.  </li>
            <li>Take a healthy cooking class.</li>
            <li>Limit eating fast food. </li>
            <li>80/20 rule:  satisfy your guilty cravings every once in a while. </li>
            <li>Seek professional help if your eating habits are negatively impacting your health. </li>
        </ol>
    </div>
</div>
<!---TFL Tips--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>There is a perception that eating any type of fat is bad for you, especially with lots of publicity around low-fat diets in our culture.  However, our bodies require some fat to be healthy.  “Eating the right kind of fats (unsaturated) is important to health and the prevention of disease (1).”</p>
        <p>Healthy fats include:  avocados, real butter, coconut oil, extra virgin olive oil, and Omega-3s (salmon and sardines, walnuts and flaxseed) (2). </p>
        <p>The typical American’s diet is high in sugar.  This can be unhealthy.  “The American Heart Association (AHA) recommends limiting the amount of added sugars you consume to no more than half of your daily discretionary calories allowance.  For most American women, that’s no more than 100 calories per day, or about 6 teaspoons of sugar.  For men, it’s 150 calories per day, or about 9
            teaspoons (3).” </p>
        <p>Recommended sugar substitutes include raw honey, stevia, dates, coconut sugar and maple syrup (4).</p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>“How Does Diet Impact Health?”: https://www.takingcharge.csh.umn.edu/how-does-diet-impact-health</li>
            <li>“The 5 Best Healthy Fats for Your Body”: https://draxe.com/healthy-fats/</li>
            <li>“Added Sugars”: http://www.heart.org/HEARTORG/HealthyLiving/HealthyEating/Nutrition/Added-Sugars_UCM_305858_Article.jsp#.WLjbmRg-Kog</li>
            <li>“5 Best Sugar Substitutes”: https://draxe.com/sugar-substitutes/</li>
        </ol>
    </div>
</div>

<!---Tools and resources--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:
    </h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>
        What Experts Recommend for Healthy Eating from Taking Charge of your Health &amp; Well-being from University of Minnesota by Barb Leonard, PhD, RN, PNP: <br />
        <a href="https://www.takingcharge.csh.umn.edu/what-experts-recommend-healthy-eating">https://www.takingcharge.csh.umn.edu/what-experts-recommend-healthy-eating</a> <br />
        Nutritional Psychiatry: Your brain on food from Harvard Health Publications by contributing editor Eva Selhub MD: <br />
        <a href="http://www.health.harvard.edu/blog/nutritional-psychiatry-your-brain-on-food-201511168626">http://www.health.harvard.edu/blog/nutritional-psychiatry-your-brain-on-food-201511168626</a> <br />
        Food and Your Mood: Nutrition and Mental Health from NCHPAD Organization: <br />
        <a href="http://www.nchpad.org/606/2558/Food~and~Your~Mood~~Nutrition~and~Mental~Health">http://www.nchpad.org/606/2558/Food~and~Your~Mood~~Nutrition~and~Mental~Health</a> <br />
        Super Tracker: My Foods. My Fitness. My Health: <br />
        <a href="https://www.supertracker.usda.gov/foodtracker.aspx">https://www.supertracker.usda.gov/foodtracker.aspx</a> <br />
        BMI Calculator: <br />
        <a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmicalc.htm">https://www.nhlbi.nih.gov/health/educational/lose_wt/BMI/bmicalc.htm</a> <br />
        The 5 Best Healthy Fats for Your Body from Dr. Axe: <br />
        <a href="https://draxe.com/healthy-fats/">https://draxe.com/healthy-fats/</a> <br />
        5 Best Sugar Substitutes by Dr. Axe: <br />
        <a href="https://draxe.com/sugar-substitutes/">https://draxe.com/sugar-substitutes/</a></p>
    </div>
</div>





