<!---definition--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Play:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;Engaging in activity for enjoyment and recreation rather than a serious or practical purpose.&quot; - English Oxford Living Dictionary</p>
        <p>&quot;Activity engaged in to amuse oneself.&quot; - https://www.merriam-webster.com/thesaurus/play</p>
        <p>&quot;Activities that are fun, wake up the imagination and bring joy into our lives.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
    </div>
</div>



<!---TFL Self Guided--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>

        <p><strong>Create a Play List:</strong></p>
        <p>Take out a notebook or journal and spend 15 minutes looking back at the last week of your life.  Divide the page into three vertical columns and title the sections: activity, day and time, and emotion (how you felt doing the activity and afterwards).  Then pause to reflect on what you wrote.  Ponder the following three questions and write your answers
            down if you’d like.</p>

        <ol>
            <li>How do I feel when I play?</li>
            <li>How would adding more play into my day benefit me?</li>
            <li>What is the one thing I’d like to continue to do or I’d like to start doing for the next 30 days?</li>
        </ol>
        <p>Make sure it is on your &quot;play list&quot; and do it for a month.  Invite a friend to be part of this play list exercise.  You can help each other stay on track, plus it will be double the fun.</p>  
    </div>
</div>



<!---Quotes--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Play lights up the soul, frees the spirit and makes the heart smile.&quot; - Terrie Elizabeth Reeves, Empower Health America</p>
        <p>&quot;We don't stop playing because we grow old; we grow old because we stop playing.&quot; - George Bernard Shaw</p>
        <p>&quot;You can discover more about a person in an hour of play than in a year of conversation.&quot; - Plato</p>
        <p> &quot;Laughter is the shortest distance between two people.&quot; - Victor Borge</p>
        <p>&quot;It is a happy talent to know how to play.&quot; - Ralph Waldo Emerson</p>
    </div>
</div>




<!---Did you know--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Play is not just essential for kids; it can be an important source of relaxation and stimulation for adults as well. Playing with your romantic partner, friends, co-workers, pets, and children is a sure (and fun) way to fuel your imagination, creativity, problem-solving abilities, and emotional well-being (1).&quot;</p>
        <p>&quot;Play can add joy to life, relieve stress, supercharge learning, and connect you to others and the world around you. Play can also make work more productive and pleasurable (1).&quot;</p>
        <p>&quot;Play is fun and can trigger the release of endorphins, the body’s natural feel-good chemicals. Endorphins promote an overall sense of well-being and can even temporarily relieve pain (1).&quot;</p>
         <p>&quot;[Playing can] improve brain function. Playing chess, completing puzzles, or pursuing other fun activities that challenge the brain can help prevent memory problems and improve brain function. The social interaction of playing with family and friends can also help ward off stress and depression (2).&quot;</p>
        <p>&quot;[Playing is able to] stimulate the mind and boost creativity. Young children often learn best when they are playing—and that principle applies to adults, as well. You’ll learn a new task better when it’s fun and you’re in a relaxed and playful mood (2).&quot;</p>
        <p>&quot;Sharing laughter and fun can foster empathy, compassion, trust, and intimacy with others. Play doesn’t have to be a specific activity; it can also be a state of mind. Developing a playful nature can help you loosen up in stressful situations, break the ice with strangers, make new friends, and form new business relationships (1).&quot;</p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>Article The Benefits of Play for Adults from Help Guide Organization by Lawrence Robinson, Melinda Smith, M.A., Jeanne Segal, Ph.D., and Jennifer )</li>
            <li>Robinson, L., Smith M.A., M., Segal Ph.D., J., & Shubin, J. (2016, December). The Benefits of Play for Adults. Retrieved February 21, 2017, from https://www.helpguide.org/articles/emotional-health/benefits-of-play-for-adults.htm</li>
        </ol>

    </div>
</div>
<!---TFL actions--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Make a list of the top ten things you like to do for fun and integrate them into your schedule.</li>
            <li>Make a list of 5 new fun activities you&rsquo;d like to do and do them.</li>
            <li>Do things that make you feel silly.  Don&rsquo;t judge, just enjoy yourself.</li>
            <li>Do fun team activities as a family, with friends or co-workers. It&rsquo;s a good way to bond, improve communication and enjoy each other.   </li>
            <li>Take inventory of how much you play and make sure you are spending one hour a day doing something fun.  </li>
            <li>Watch your favorite funny movie and laugh out loud.  </li>
            <li>Schedule play dates with your friends, family or significant other.</li>
            <li>Try an outside-the-box activity like, ice skating, yoga, a pottery or cooking class, roller blading, zip lining, Zumba class.  Go to a comedy club or amusement park, play on the jungle gyms with your kids, roll on the floor with your animals, have a pillow or tickle fight, play hide and seek, charades or go on a treasure hunt.</li>
            <li>Spend time with people who have playful spirits, enjoy life and laugh often.  </li>
            <li>If you have children, schedule play time with them. Don&rsquo;t just watch—get involved.</li>
            <li>Lighten up and look for the humor in things.  </li>
            <li>Turn off your technology and go to the park and play outside.  </li>
            <li>Create a play drawer and put fun things in it like board games, coloring books and puzzles.</li>
            <li>Observe children; they will show you the art of playing.    </li>
            <li>Take something to work that you can do for play such as a small putting green, Rubik&rsquo;s cube or small Nerf basketball and goal.</li>
            <li>Have more fun at work by taking time to engage with people through humor.</li>
            <li>Make someone laugh; it will make you both feel good.</li>
            <li>Smile at someone; it will lift your spirits and theirs.</li>
            <li>Take laugh inventory.  The more you laugh, the better you will feel.</li>
            <li>Participate in a problem solving session by brainstorming where all ideas are considered. </li>
            <li>Dance the gig, sing out loud in your shower, let your hair down and just have fun. </li>
        </ol>
    </div>
</div>
<!---TFL Tips--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>There is always more work to do so don’t wait until it’s all done to play.  If you do, you may be delaying your happiness and depriving yourself of a very important dimension of your life.  Give yourself permission to unplug and have fun.  It is good medicine for the mind, body and soul. </p>
    </div>
</div>

<!---Tools and resources--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>The Best Ted Talks on Play:<br/>
            <a href="http://charliehoehn.com/2016/03/28/the-best-ted-talks-on-play/">http://charliehoehn.com/2016/03/28/the-best-ted-talks-on-play/</a><br>
            The Benefits of Play for Adults: How Play Benefits Your Relationships, Job, Bonding and Mood from Help Guide Organization by Lawrence Robinson, Melinda Smith, M.A., Jeanne Segal, Ph.D., and Jennifer Shubin:<br/>
            <a href="https://www.helpguide.org/articles/emotional-health/benefits-of-play-for-adults.htm">https://www.helpguide.org/articles/emotional-health/benefits-of-play-for-adults.htm</a><br>
            Play Doesn&rsquo;t End With Childhood: Why Adults Need Recess Too from NPR by Sami Yenigun:<br/>
            <a href="http://www.npr.org/sections/ed/2014/08/06/336360521/play-doesnt-end-with-childhood-why-adults-need-recess-too">http://www.npr.org/sections/ed/2014/08/06/336360521/play-doesnt-end-with-childhood-why-adults-need-recess-too</a><br>
            The Importance of Play by Dr. David Whitebread, University of Cambridge:<br/>
            <a href="http://www.importanceofplay.eu/IMG/pdf/dr_david_whitebread_-_the_importance_of_play.pdf">http://www.importanceofplay.eu/IMG/pdf/dr_david_whitebread_-_the_importance_of_play.pdf</a><br>
            Adults Need Play – 10 Ways to Have More Fun and Play More as Adults by Marelisa from Daring to Live Fully:<br/>
            <a href="https://daringtolivefully.com/more-fun-and-play-for-adults">https://daringtolivefully.com/more-fun-and-play-for-adults</a><br>
            Stress relief from laughter? It's no joke - Mayo Clinic<br/>
            <a href="http://www.mayoclinic.org/healthy-lifestyle/stress-management/in-depth/.../art-20044456">www.mayoclinic.org/healthy-lifestyle/stress-management/in-depth/.../art-20044456</a><br>
            The Benefits of Laughter: Why laughter may be the best way to warm up a relationship.<br/>
            <a href="https://www.psychologytoday.com/articles/200304/the-benefits-laughter">https://www.psychologytoday.com/articles/200304/the-benefits-laughter</a></p>

    </div>
</div>





