<!---definition-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Purpose:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;Usual or principal business, calling, trade, or work a person is engaged in earning a living.&quot; - www.businessdictionary.com/definition/occupation.html</p>
        <p>&quot;The career path you have chosen to use your talents and skills, earn a living and/or to pursue your life’s purpose.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
    </div>
</div>


<!---TFL Self Guided-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Love it List Exercise:</strong></p>
        <p>&quot;Love it list&quot; exercise:  Get a package of index cards and over the course of one week, jot down the tasks you were doing in your occupation that you love.</p>
        <p>Jot down what you were doing and how you felt.  It could be something like, &quot;I love doing research and I got so energized that I forgot to go to lunch.&quot;  Maybe you presented some solutions at a meeting and you felt like a rock star or you maybe helped a co-worker
            solve a problem and it made you happy.   Any of those types of activities and feelings are worthy of being noted on an index card.  Try to be as specific as possible when describing the activity and how you felt. At the end of the week see if your job duties align with the things that make you happy.</p>
        <p>At the end of the week when you have your &quot;Love it list,&quot; do the second part of the exercise.  Take the cards and pick the top five things you enjoyed doing.  </p>
        <p> Now, answer a few simple questions about your &quot;love it&quot; activities</p>
    </div>
</div>


<!---Quotes-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Light the world up, not by doing a job but by making a difference.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Efforts and courage are not enough without purpose and direction.&quot; - John F. Kennedy</p>
        <p>&quot;Purpose is the place where your deep gladness meets the world’s needs.&quot; - Frederick Buechner, writer and theologian</p>
        <p>&quot;The only way to be truly satisfied is to do what you believe is great work.&quot; - Steve Jobs</p>
        <p>&quot;Visualization is daydreaming with a purpose.&quot; - Bo Bennett</p>
    </div>
</div>



<!---Did you know-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>While the need for safety and security are the primary factors motivating people to work, there are other motivations as well.  The triggers that drive achievement are unique for everyone.  Although monetary reward is the primary motivation, according to Forbes
            magazine, more and more people are saying they are driven by the opportunity to create impact, to &quot;make a difference.&quot;</p>
        <p>Ultimately, the employee’s own happiness is one of the greatest motivations to achieve.  Happiness fuels one’s self-esteem and gives people hope for a better tomorrow. For this reason, it is important for employers to help increase their employees’ feeling of
            relevancy and worth.  Corporate leaders who understand and cultivate this culture will help boost performance levels and loyalty (1).</p>
        <p>Employment is a lot like dating.  Happy results cannot come about without the foundation for a good relationship.  In the workplace, that foundation is a strong culture that reinforces company philosophy and values the employees that uphold it.  Happy employees are
            more productive; unhappy employees leave.  Employee happiness can be difficult to quantify, but it is a concrete value, and it matters (3).</p>
        <p>If you believe you are making a valuable contribution, you’re more likely to feel invested in your work and your employer’s mission.  You’re also more motivated to take care of yourself.  Living your life with a strong sense of purpose may lower your risk for early
            death, heart attack or stroke (2).</p>
        <p>In this case, everyone wins; you are a healthy, productive asset to your employer, and you reap the personal benefits of job satisfaction and physical, emotional and financial well-being.</p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>Llopis, G. (2012, July 16). The Top 9 Things That Ultimately Motivate Employees to Achieve. Retrieved March 06, 2017, from <a href="https://www.forbes.com/sites/glennllopis/2012/06/04/top-9-things-that-ultimately-motivate-employees-to-achieve/#5df82bad257e" target="_blank">https://www.forbes.com/sites/glennllopis/2012/06/04/top-9-things-that-ultimately-motivate-employees-to-achieve/#5df82bad257e</a>
            </li>
            <li>Johnston Osburn, %. (2015, August 24). Having a Sense of Life Purpose is Linked to Better Health. Retrieved March 7, 2017, from  <a href="https://www.linkedin.com/pulse/having-sense-life-purpose-linked-better-health-jan-johnston-osburn" target="_blank">https://www.linkedin.com/pulse/having-sense-life-purpose-linked-better-health-jan-johnston-osburn</a>
            </li>
            <li>What Truly Motivates Employees from Talent Culture Newsletter by Sarah Landrum; <a href="http://www.talentculture.com/what-truly-motivates-employees/" target="_blank">http://www.talentculture.com/what-truly-motivates-employees/</a></li>
        </ol>

    </div>
</div>

<!---TFL actions-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Take inventory.  Does your job align with your values and life purpose?</li>
            <li>List your skills and talents and make sure your job allows you to use them. </li>
            <li>Seek fulfillment outside your primary job.  Not all of your needs need to be met through work. </li>
            <li>Ask yourself, &ldquo;What you would like to be doing if money were not an issue?&rdquo;  </li>
            <li>Write down your dream job and develop a passion statement that aligns with you values and desires.  </li>
            <li>Create a game plan with career goals, advancement opportunities and financial expectations. </li>
            <li>Take some assessments to help you better understand you strengths and skills.  They can be fun and very enlightening.   </li>
            <li>Seek out a mentor who can help guide, connect and inspire you.</li>
            <li>Challenge yourself by setting short- and long-term stretch goals.</li>
            <li>Create a more positive environment.  As your job allows, surround yourself with things and people you enjoy being around.</li>
            <li>Seek out others who share your professional objectives and aspirations.</li>
            <li>Discuss job growth and future advancement opportunity with your employer. </li>
            <li>Seek opportunities to grow and learn.  Go back to school, take a course or do an online training class.  </li>
            <li>Use your talents by volunteering to work on committees and projects outside your job responsibilities. </li>
            <li>Take a step back and ensure that your values and long-term career goals align with your company.     </li>
            <li>Ask yourself if you are engaged at work and reaching your potential.  </li>
            <li>Schedule a meeting with your boss if you are feeling unsatisfied with your job, but take recommended solutions and a game plan to the meeting. </li>
            <li>Be vocal if you are feeling stressed at work.  Ask for things that are reasonable that could help reduce your stress. (i.e. more privacy, less interruptions, change of office location, flexible schedule, personal self-care day, access to better tools to do your job, more support from your team or supervisor, a course in stress management).  </li>
            <li>Brainstorm with your co-workers on how you can improve your work environment and then present your ideas to management.  </li>
            <li>Maintain a healthy balance between work and the other aspects of your life.  Whenever possible, try not to bring work home with you, either physically or emotionally.</li>
            <li>Stay well by eating right, exercising and getting enough rest; your physical and emotional well-being influence your job performance and your overall satisfaction. <strong></strong></li>
        </ol>

    </div>
</div>

<!---TFL Tips-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Maintaining a work-life balance is critical to your personal happiness and job satisfaction.  While it is important to give our best on the job, everyone falls victim at least occasionally to taking work too seriously.  Here are several tips to help you strike a
            healthy work-life balance and better enjoy your professional journey:</p>
        <ol>
            <li><strong>Focus on being happy:</strong>  This will decrease stress and make it a little easier not to take everything that happens during the day to heart.</li>
            <li><strong>Be a team player:</strong> Seeing yourself as part of the team and sharing responsibility can help keep you from feeling overwhelmed.  Plus, it’s just more fun to work with others!</li>
            <li><strong>Ask for help:</strong>  Work is less overwhelming when it’s shared.  Not only will the work get done more efficiently, you’ll strengthen relationships with your co-workers in the process.</li>
            <li><strong>Say no:</strong>  Give yourself permission to say no more often.  Ask your managers or co-workers specific questions to determine if and how a task might fit with the rest of your workload.</li>
            <li><strong>Make mistakes:</strong>  Everyone makes mistakes occasionally.  When you accept and even embrace them, you will be less stressed and have more fun with your work.</li>
            <li><strong>Do your best and forget the rest:</strong>  All you can do is your best.  You can’t control what happens next, so it’s easier to focus on just doing your part—the work that you can control.</li>
            <li><strong>Be present:</strong>  Planning ahead and working toward goals, results and achievements are great.  However, if your mind is always on tomorrow, it’s difficult to make the most of today.   Focusing on simply doing your best work for this day can bring
                happiness and positive results, too.
            </li>
            <li><strong>Believe in yourself:</strong>  You are a competent, smart and resourceful person with a lot to contribute in your job.</li>
            <li><strong>Don’t blame:</strong>   Resist the urge to assign negative value to people and projects.  If the focus is on doing your best, it will help you find peace in your work and in life (4).</li>
        </ol>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>Chrysta Bairre, Career Coach; Stop Talking Work So Seriously!; LiveandLoveWork.com; <a href="http://www.liveandlovework.com/2013/04/26/stop-taking-work-so-seriously/" target="_blank">http://www.liveandlovework.com/2013/04/26/stop-taking-work-so-seriously/</a></li>
        </ol>
    </div>
</div>

<!---Tools and resources-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>
            The Eight Keys to Finding Meaningful Work by Justin Faerman &amp; Meghan McDonald, writers for Conscious Lifestyle magazine: <br />
            <a href="http://www.consciouslifestylemag.com/meaningful-work-the-eight-keys/" target="_blank">http://www.consciouslifestylemag.com/meaningful-work-the-eight-keys/</a> <br />
            The Top 9 Things That Ultimately Motivate Employees to Achieve by Glenn Llopis, contributory for Forbes Magazine: <br />
            <a href="https://www.forbes.com/sites/glennllopis/2012/06/04/top-9-things-that-ultimately-motivate-employees-to-achieve/#5df82bad257e" target="_blank">https://www.forbes.com/sites/glennllopis/2012/06/04/top-9-things-that-ultimately-motivate-employees-to-achieve/#5df82bad257e</a>
            Having a Sense of Life Purpose is Linked to Better Health by Jan Johnston Osburn, Certified Career Coach and Recruiting Consultant: <br />
            <a href="https://www.linkedin.com/pulse/having-sense-life-purpose-linked-better-health-jan-johnston-osburn" target="_blank">https://www.linkedin.com/pulse/having-sense-life-purpose-linked-better-health-jan-johnston-osburn</a><br />
            What Truly Motivates Employees from Talent Culture Newsletter by Sarah Landrum: <br />
            <a href="http://www.talentculture.com/what-truly-motivates-employees/" target="_blank">http://www.talentculture.com/what-truly-motivates-employees/</a> <br />
            Top 10 Reasons Why Happiness at Work is the Ultimate Productivity Booster by Alexander, writer for The Chief Happiness Officer Blog: <br />
            <a href="http://positivesharing.com/2007/03/top-10-reasons-why-happiness-at-work-is-the-ultimate-productivity-booster/" target="_blank">http://positivesharing.com/2007/03/top-10-reasons-why-happiness-at-work-is-the-ultimate-productivity-booster/</a> <br />
            The National Business Research Institute Infographic: 5 Key Factors that Affect Your Employees&rsquo; Productivity by Dr. Jan West, Ph.D.<br />
            <a href="https://www.nbrii.com/blog/infographic-5-key-factors-affect-employees-productivity/" target="_blank">https://www.nbrii.com/blog/infographic-5-key-factors-affect-employees-productivity/</a></p>
    </div>
</div>





