<!---definition--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Relax:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;A state of being calm, rested and peaceful.&quot; - Terrie Elizabeth Reeves, founder, Empower Health America</p>
        <p>&quot;The state of being free from tension and anxiety.&quot; - https://en.oxforddictionaries.com/definition/relaxation</p>
        <p>&quot;Relaxation isn't just about peace of mind or enjoying a hobby. Relaxation is a process that decreases the effects of stress on your mind and body.&quot; - http://www.mayoclinic.org </p>
    </div>
</div>

<!---TFL Self Guided--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time. We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked
            to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Try Yoga:</strong></p>
        <p>Try a yoga class and reap the benefits. Yoga’s popularity has skyrocketed so it shouldn’t be hard to find a class. Churches, gyms, yoga studios, the YMCA, college campuses and even some apartment complexes and companies are offering onsite classes. Not only will you
            feel better, but research shows that yoga can provide relief from the hustle and bustle of everyday life. Another by-product of a regular yoga practice is better sleep, which means you’ll be less tired and stressed throughout the day.</p>

        <p>Exercises don’t always have to be active. Take a power nap in order to recharge—power down to power up. More benefits of napping:</p>


        <ol class="no-pad-left">
            <li>Naps can restore alertness, enhance performance and reduce mistakes and accidents. A study at NASA on sleepy military pilots and astronauts found that a 40-minute nap improved performance by 34% and alertness 100%.</li>
            <li>Naps can increase alertness in the period directly following the nap and may extend alertness a few hours later in the day.</li>
            <li>Scheduled napping has also been prescribed for those who are affected by narcolepsy.</li>
            <li>Napping has psychological benefits. A nap can be a pleasant luxury, a mini-vacation. It can provide an easy way to get some relaxation and rejuvenation.</li>
        </ol>

        <p><strong>Meditation exercise:</strong></p>
        <p>Sit in a comfortable position during a period of meditation. Perhaps start with 5 minutes and build up to 20 minutes. Use your inhales and exhales to keep you connected to your body and the moment. Connect to your breath as a
            touchstone throughout the entire process. Begin by becoming more aware and acknowledge your desire to be present. Breathe naturally, inhaling and exhaling slowly and deeply. Let your focus on your breath help you release tension and quiet your mind. If a thought,
            emotion or sensation arises, observe but don’t latch on to it. Simply return to your breathing.</p>
        <p>You may be distracted numerous times and perhaps your entire meditation session will be full of sensations clamoring for attention. Don’t judge yourself negatively. Just return to your breathing, knowing each interruption is yet another opportunity to return to the
            present and to conscious participation in the moment. </p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>http://www.yogajournal.com/lifestyle/count-yoga-38-ways-yoga-keeps-fit</li>
            <li>https://sleepfoundation.org/sleep-topics/napping/page/0/1</li>
        </ol>

    </div>
</div>


<!---Quotes--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Relaxing is a priceless gift—allow yourself to rest the body, quiet the mind, open your heart and steady the soul.&quot; - Terrie Reeves, Founder, Empower Health America</p>

        <p>&quot;Sleep is that golden chain that ties health and our bodies together.&quot; - Thomas Dekker</p>

        <p>&quot;Take the time to slow down, relax, meditate, and contemplate the wonders within. You will discover an inner calm and balance that previously eluded you.&quot;  - Joanne Madeline Moore</p>

        <p>&quot;Your calm mind is the ultimate weapon against your challenges. So relax.&quot;  - Bryant McGill, Simple Reminders: Inspiration for Living Your Best Life</p>

        <p>&quot;The paradox of relaxation is the renewal of mind; rekindle of spirit and revitalize of strength.&quot;  - Lailah Gifty Akita, Think Great: Be Great!</p>

    </div>
</div>


<!---Did you know--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Researchers at Harvard University and Boston College found that people seem to strengthen the emotional components of a memory during sleep, which may help spur the creative process (1)&quot;</p>
        <p>&quot;Researchers at the University of Chicago found that dieters who were well rested lost more fat—56% of their weight loss—than those who were sleep deprived, who lost more muscle mass (1).&quot;</p>
        <p>&quot;Inflammation is linked to heart disease, stroke, diabetes, arthritis, and premature aging. Research indicates that people who get less sleep—six or fewer hours a night—have higher blood levels of inflammatory proteins than those who get more (1).&quot;</p>
        <p>&quot;“[Mindfulness training] could make your health care bill a little lower. Research in the American Journal of Health Promotion shows that practicing meditation is linked with lower yearly doctor costs, compared with people who don’t practice the meditation
            technique (2).&quot;</p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>http://www.health.com/health/gallery/0,,20459221,00.html#avoid-accidents-0</li>
            <li>http://mindfulway.ie/mindfulness-meditation-benefits-20-reasons-good-mental-physical-health-article-published-huffington-post/</li>
        </ol>
    </div>
</div>

<!---TFL actions--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol>
            <li>Stick to a sleep schedule with the same bedtime and wake up time, even on the weekends.  This helps to regulate your body's clock and could help you fall asleep and stay asleep for the night.</li>
            <li>Practice a relaxing bedtime ritual. A relaxing, routine activity right before bedtime conducted away from bright lights helps separate your sleep time from activities that can cause excitement, stress or anxiety, which can make it more difficult to fall asleep,
                get sound and deep sleep or remain asleep.
            </li>
            <li>If you have trouble sleeping, avoid naps, especially in the afternoon. Power napping may help you get through the day, but if you find that you can't fall asleep at bedtime, eliminating even short catnaps may help.</li>
            <li>Exercise daily.  Vigorous exercise is best, but even light exercise is better than no activity. Exercise at any time of day, but not at the expense of your sleep.</li>
            <li>Evaluate your room. Design your sleep environment to establish the conditions you need for sleep. Your bedroom should be cool–between 60 and 67 degrees.  Your bedroom should also be free from any noise that can disturb your sleep. Finally, your bedroom should be
                free from any light. Check your room for noises or other distractions. This includes a bed partner's sleep disruptions such as snoring. Consider using blackout curtains, eyeshades, earplugs, "white noise" machines, humidifiers, fans and other devices.
            </li>
            <li>Sleep on a comfortable mattress and pillows.  Make sure your mattress is comfortable and supportive. The one you have been using for years may have exceeded its life expectancy–about 9 or 10 years for most good quality mattresses. Have comfortable pillows and make
                the room attractive and inviting for sleep but also free of allergens that might affect you and objects that might cause you to slip or fall if you have to get up.
            </li>
            <li>Manage stress. When you have too much to do—and too much to think about—your sleep is likely to suffer. To help restore peace, consider healthy ways to manage stress. Start with the basics, such as getting organized, setting priorities and delegating tasks. Give
                yourself permission to take a break when you need one. Share a good laugh with an old friend. Before bed, jot down what's on your mind and then set it aside for tomorrow.
            </li>
            <li>Pay attention to what you eat and drink. Don't go to bed either hungry or stuffed. Your discomfort might keep you up. Also limit how much you drink before bed to prevent disruptive middle-of-the-night trips to the toilet.</li>
            <li>Nicotine, caffeine and alcohol deserve caution, too. The stimulating effects of nicotine and caffeine take hours to wear off and can wreak havoc on quality sleep. And even though alcohol might make you feel sleepy at first, it can disrupt sleep later in the night.
            </li>
        </ol>

        <p><strong>Sources:</strong></p>

        <ol>
            <li>https://sleepfoundation.org/sleep-tools-tips/healthy-sleep-tips/page/0/1</li>
            <li>http://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/sleep/art-20048379</li>
        </ol>

    </div>
</div>

<!---TFL Tips--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p><strong>Recommended amount of sleep:</strong></p>
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
            <tr class="green-bg white">
                <th colspan="2">Age Group</th>
                <th>Recommended Hours of Sleep Per Day</th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <td>Newborn</td>
                <td>0–3 months</td>
                <td>14–17 hours (National Sleep Foundation) No recommendation (American Academy of Sleep Medicine)</td>
            </tr>
            <tr>
                <td>Infant</td>
                <td>4–12 months</td>
                <td>12–16 hours per 24 hours (including naps)</td>
            </tr>
            <tr>
                <td>Toddler</td>
                <td>1–2 years</td>
                <td>11–14 hours per 24 hours (including naps)</td>
            </tr>
            <tr>
                <td>Preschool</td>
                <td>3–5 years</td>
                <td>10–13 hours per 24 hours (including naps)</td>
            </tr>
            <tr>
                <td>School Age</td>
                <td>6–12 years</td>
                <td>9–12 hours per 24 hours</td>
            </tr>
            <tr>
                <td>Teen</td>
                <td>13–18 years</td>
                <td>8–10 hours per 24 hours</td>
            </tr>
            <tr>
                <td>Adult</td>
                <td>18–60 years</td>
                <td>7 or more hours per night</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>61–64 years</td>
                <td>7–9 hours</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>65 years and older</td>
                <td>7–8 hours</td>
            </tr>
            </tbody>
        </table>

        <p><strong>Napping: </strong></p>
        <p>Napping offers various benefits for healthy adults, including:</p>
        <ul>
            <li>Relaxation</li>
            <li>Reduced fatigue</li>
            <li>Increased alertness</li>
            <li>Improved mood</li>
            <li>Improved performance, including quicker reaction time and better memory</li>
        </ul>

        <p>To get the most out of a nap, follow these tips:</p>
        <ul>
            <li>Keep naps short.  Aim to nap for only 10 to 30 minutes. The longer you nap, the more likely you are to feel groggy afterward.</li>
            <li>Take naps in the afternoon.  The best time for a nap is usually midafternoon, around 2 or 3 p.m. This is the time of day when you might experience post-lunch sleepiness or a lower level of alertness. In addition, naps taken during this time are less likely to
                interfere with nighttime sleep. Keep in mind, however, that individual factors—such as your need for sleep and your sleeping schedule—also can play a role in determining the best time of day to nap.
            </li>
        </ul>

        <p><strong>Sources:</strong></p>

        <ol>
            <li>https://www.cdc.gov/sleep/about_sleep/how_much_sleep.html</li>
            <li>http://www.mayoclinic.org/healthy-lifestyle/adult-health/in-depth/napping/art-20048319</li>
        </ol>


    </div>
</div>

<!---Tools and resources--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>How to Deal With Stress, by Stephen Palmer and Cary Cooper.<br> The American Institute of Stress:  <br> <a href="http://www.stress.org">http://www.stress.org</a><br> &quot;Good Stress, Bad Stress,&rdquo;ULifeline: <br>
            <a href="http://www.ulifeline.org/articles/450-good-stress-bad-stress">http://www.ulifeline.org/articles/450-good-stress-bad-stress</a> <br/> &quot;Helpful Tips On How To Manage Everyday Tips,&rdquo; ULifeline:<br>
            <a href="http://www.ulifeline.org/articles/427-managing-stress">http://www.ulifeline.org/articles/427-managing-stress</a> <br/> &quot;The Positive Effects of Stress,&rdquo; by Susan Knowlton, HeathGuidance for Better Health:<br/>
            <a href="http://www.healthguidance.org/entry/15537/1/The-Positive-Effects-of-Stress.html">http://www.healthguidance.org/entry/15537/1/The-Positive-Effects-of-Stress.html</a><br> &quot;Talks to help you manage stress,&rdquo; TED:<br/>
            <a href="https://www.ted.com/playlists/315/talks_to_help_you_manage_stres">https://www.ted.com/playlists/315/talks_to_help_you_manage_stres</a>
        </p>
    </div>
</div>





