<!---definition-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Relationships:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;The state of being in connection or bonded to another person; i.e. friend, co-worker, family member, partner or spouse.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Experiencing a connection with someone over an extended period of time.&quot; - Gideon Rosenblatt, The Vital Edge blog</p>
    </div>
</div>



<!---TFL Self Guided-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Structured Dialogue Exercise:</strong></p>
        <p>&quot;Communication is key to building and maintaining healthy relationships with friends, partners, family, co-workers and even casual acquaintances.  This exercise will help build skills in structured dialogue, the practice of using mirroring, validation and empathy in a conversation
            (1).&quot; </p>
        <p>The main idea behind structured dialogue is asking questions and carefully listening to the answers.   Having one structured dialogue a day for three weeks will significantly improve your communication and understanding.  As communicating and relating becomes easier, you will feel more
            supported, loved, happy and less stressed.</p>
        <ol class="no-pad-left">
            <li>Mirroring:  Repeating back what the other person says and conveying curiosity by asking, &quot;Is there more about that?&quot;  &quot;Am I getting everything?&quot;  &quot;This is what I heard you say...&quot; </li>
            <li>Validation:  Communicating understanding.  Look for points you understand and then say, &quot;I understand that.&quot;  When you don&rsquo;t understand, ask, &quot;I might not be understanding this, can you explain in a different way?&quot; </li>
            <li>Empathy:  Discussing feelings pertaining to the dialog&rsquo;s topic.  Ask &quot;How do you feel about that?&quot; and be prepared to share how you feel.</li>
        </ol>
        <p><strong>Getting Started</strong></p>
        <ol class="no-pad-left">
            <li>Have some topics in mind before starting a dialogue.  Topics that inspire storytelling work well.  Examples:  Most meaningful childhood moments OR what do you like to do and how did you discover this passion?</li>
            <li>Use structured dialogs for problem solving conversation.</li>
            <li>The willingness to be curious is what inspires positive social interaction.  Invite people to tell their story and once they do, accept the story with removal of judgment and thank them for it.</li>
            <li>Learn and practice structured dialoging enough that you can be spontaneous with it.</li>
            <li>Try to have one structured dialogue each day that lasts for 15-30 minutes (2).</li>
        </ol>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>Hendrix, relationship therapist and author</li>
            <li>Stephanie Michele, &quot;Communication Boosters: Relationship Improvement Exercises,&quot; Huffington Post, 2013</li>
        </ol>
    </div>
</div>




<!---Quotes-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Living from a place of inquiry breaks down barriers, allows us to better understand one another and helps us build authentic, intimate relationships in all dimensions of our lives.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America </p>
        <p>&quot;Encourage, lift and strengthen one another, for the positive energy felt by one will spread to others.  For we are connected, one and all.&quot; ─ Deborah Day<br/>
        <p>&quot;Constant kindness can accomplish much.  As the sun makes ice melt, kindness causes misunderstanding, mistrust and hostility to evaporate.&quot; - Albert Schweitzer</p>
        <p>&quot;Lots of people want to ride with you in the limo, but what you want is someone who will take the bus with you when the limo breaks down.&quot; - Oprah Winfrey</p>
    </div>
</div>




<!---Did you know-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>The desire to connect with others is among the most basic human needs, and we are biologically wired to form relationships. People yearn to be connected, loved and supported by others and those who have strong, close relationships in their lives report being happier, healthier and even
            living longer (1). </p>
        <p>Healthy relationships of all kinds greatly enrich our lives. Healthy relationships are based on:</p>
        <ol class="no-pad-left">
            <li>Mutual respect</li>
            <li>Trust</li>
            <li>Honesty</li>
            <li>Support</li>
            <li>Fairness/equality</li>
            <li>Separate identities</li>
            <li>Good communication</li>
            <li>A sense of playfulness/fondness</li>
        </ol>
        <p>When in healthy relationships, people are more motivated and successful when those that are close to them support their career, educational aspirations and personal development goals.</p>
        <p>Unfortunately, unhealthy relationships can cause discomfort, unhappiness, unintended far reaching consequences and even harm.  It is important to recognize the signs of an unhealthy relationship, particularly a romantic one.  Here are a few (2):</p>
        <ol class="no-pad-left">
            <li>Feeling pressure to change who you are for the other person or to quit activities that you enjoy</li>
            <li>Arguments are not settled fairly or involve yelling</li>
            <li>Feeling controlled or manipulated</li>
            <li>Feeling that the other disrespects your friends or family</li>
            <li>Lack of fairness and equality</li>
        </ol>
        <p>People in any type of stressful or unhappy relationship get sick more often, take longer to recover from illness and injury, are at higher risk for chronic health problems, more likely to be depressed, have trouble concentrating, suffer from higher levels of anxiety and have difficulty
            handling and coping with stress.  Lack of support in a relationship can also can impact work
            performance, goal achievement and overall satisfaction (3). </p>
        <p>Children are negatively impacted when their parents expose them to unhealthy behavior in their relationship.  These children tend to have more problems interacting with peers, don&rsquo;t perform as well in school, are more likely to suffer from depression or anxiety, and as they get
            older, it is more likely they will have unhealthy relationships themselves (4).</p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>&quot;The New Science of Happiness,&quot; Time Magazine, 2005</li>
            <li>Hall Health Center, University of Washington</li>
            <li>Iris Tse, MyDailyHealth contributor, LiveScience.com, 2011</li>
            <li>Lisa Firestone, Ph.D., Psychology Today, 2010</li>
        </ol>
    </div>
</div>
<!---TFL actions-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Set realistic expectations for your relationships.</li>
            <li>Make time to develop and nurture meaningful relationships.</li>
            <li>Watch out for signs of an unhealthy relationship:  controlling or manipulative behaviors.</li>
            <li>Be open, honest and constructive in sharing your feelings.</li>
            <li>Take care of your own well-being so that you&rsquo;ll be better able to give of yourself.</li>
            <li>Relationships take time; not all connections lead to relationships.</li>
            <li>Be open to receiving and giving love, joy and inspiration.</li>
            <li>Honestly evaluate your individual relationships.  Are they healthy?  If not, address the issues or behaviors that are making them unhealthy.</li>
            <li>Watch out for long-term stress within relationships.  It can weaken your immune system.</li>
            <li>Allow yourself to be vulnerable in trusted relationships.</li>
            <li>Surround yourself with those who want to build you up and see you achieve your goals and dreams.</li>
            <li>Establish a relationship with a personal and professional mentor.</li>
            <li>Spend time with people who have a lot of life experience and are willing to share it with you.    </li>
            <li>Cultivate friendships with people who will support you and help you when you need them.</li>
            <li>If you can&rsquo;t be yourself around someone, question yourself and the relationship. </li>
            <li>Build bridges with people by asking them to tell their story—and listen.</li>
            <li>Learn what makes important people in your life happy and if it is healthy, do it.</li>
            <li>Practice the art of negotiation so that no one loses.    </li>
            <li>Limit your time with negative, critical and narrow-minded people.</li>
            <li>Ensure that you know what makes you happy and cultivate a deep love for who you are.  Be the person you want to attract.</li>
            <li>Work with like-minded people on a common goal.  It is good for the soul and builds trust and comradery.</li>
            <li>Join a group that loves to do the same things that you do. </li>
            <li>Practice the art of inclusion and collaboration.</li>
            <li>Pick your relationships intentionally because they can affect your health and your life.    </li>
            <li>Cultivate deep, meaningful relationships and value them as priceless.  In the end, the relationships you have in your life are what truly matters. </li>
        </ol>
        <p><strong>Sources:</strong></p>

        <ol class="no-pad-left">
            <li>Lisa Firestone, Ph.D., Psychology Today, 2010</li>
            <li>"The New Science of Happiness," Time Magazine, 2005</li>
            <li>Hall Health Center, University of Washington</li>
            <li>Iris Tse, MyDailyHealth contributor, LiveScience.com, 2011</li>
        </ol>

    </div>
</div>
<!---TFL Tips-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Maintaining a positive self-image is key to developing healthy relationships. When you are happy with yourself, you tend to more easily perpetuate healthy connections with others (1). </p>
        <p>Seek professional help if you are in an unhealthy relationship, particularly if you feel in danger.  If a friend or loved one tries to harm you physically or force you to do something against your will, this should be a clear sign that it is an unhealthy relationship.  In that situation,
            you should consider ending the relationship.  If you are not at risk of personal harm, talking with
            a counselor or mental health provider alone or with the other person in the relationship can help you work out challenges in your relationships to find healthy solutions.  Often, your employer, school, place of worship or organizations such as Mental Health America can connect you with
            counseling resources (2). </p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>David Lieberman, Ph.D., aish.com</li>
            <li>Hall Health Center, University of Washington</li>
        </ol>
    </div>
</div>

<!---Tools and resources-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;12 TED Talks that will teach you how to have healthy relationships&quot;:<br/>
        <a href="http://www.businessinsider.com/ted-talks-healthy-relationships-2017-2/#mandy-len-catrons-falling-in-love-is-the-easy-part-1" target="_blank">http://www.businessinsider.com/ted-talks-healthy-relationships-2017-2/#mandy-len-catrons-falling-in-love-is-the-easy-part-1</a> <br/>
        &quot;A collection of TED Talks (and more) on the topic of relationships&quot;:<br/>
        <a href="https://www.ted.com/topics/relationships" target="_blank">https://www.ted.com/topics/relationships</a> <br/>
        &quot;Stop Giving 110 Percent to Be a Success&quot; by George Krueger &amp; Mary-Lynn Foster, creators of BIGG Success<br/>
        <a href="https://biggsuccess.com/2012/06/20/stop-giving-110-percent-to-be-a-success/" target="_blank">https://biggsuccess.com/2012/06/20/stop-giving-110-percent-to-be-a-success/</a> <br/>
        &quot;Building Relationships: Connections are Different than Relationships&quot; by Gideon Rosenblatt, writer for The Vital Edge: <br/>
        <a href="http://www.the-vital-edge.com/building-relationships/" target="_blank">http://www.the-vital-edge.com/building-relationships/</a> <br/>
        &quot;7 Reasons Why Connection With Self and Others Is So Important&quot; by Margaret Paul, Ph.D., writer for The Huffington Post: <br/>
        <a href="http://www.huffingtonpost.com/margaret-paul-phd/loving-connection_b_2559654.html" target="_blank">http://www.huffingtonpost.com/margaret-paul-phd/loving-connection_b_2559654.html</a></p>
    </div>
</div>





