<!---definition--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Self Image:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;The personal view, or mental picture, that we have of ourselves…[it] is an ‘internal dictionary’ that describes the characteristics of the self, including intelligent, beautiful, ugly, talented, selfish, and kind.&quot; - The Cleveland Clinic</p>
        <p>&quot;Self-image has been defined as the total subjective perception of oneself, including an image of one's body and impressions of one's personality, capabilities, and so on.&quot; - Joseph Bailey II, MD, Article in Journal of the National Medical Assoc.</p>
        <p>&quot;One’s own perception of self-worth.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
    </div>
</div>

<!---TFL Self Guided--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Personal Pep Talk:</strong></p>
        <p>Find a time where you can do some self-reflection without being interrupted.  Ensure that you feel rested and that you have about 20 minutes to do a writing exercise.  All you need is a small amount of time, several sheets of paper or a journal.  Begin by writing at
            the top of the page, &quot;Things I love about myself.&quot;  For 5 to 10 minutes, write down all the things you love about yourself.  Try not to overthink what comes to mind; let your thoughts flow and write down as much as you can.  Don’t focus on grammar or writing
            in complete sentences; just journal your thoughts and feelings.  Once you finish writing, read what you wrote out loud several times, then pause to let what you wrote sink in.  Save what you wrote and reread it when you need a personal pep talk.  </p>
    </div>
</div>



<!---Quotes--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Perfection is an illusion so love yourself, not for what you can become, but for who you are today.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;What lies behind us and what lies before us are tiny matters compared to what lies within us.&quot; - Ralph Waldo Emerson</p>
        <p>&quot;Never be bullied into silence.  Never allow yourself to be made a victim.  Accept no one’s definition of your life, but define yourself.&quot; - Harvey Fierstein, American actor and playwright </p>
        <p>&quot;Too many people overvalue what they are not and undervalue what they are.&quot; - Malcolm S. Forbes</p>
    </div>
</div>



<!---Did you know--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Self-image is important because the way we think about ourselves affects how we feel about ourselves.  The image that we have of ourselves also affects how we interact with others and the world around us. </p>
        <p>A positive self-image can enhance our physical, mental, social, emotional and spiritual well-being.  While on the other hand, a negative self-image can decrease our satisfaction and ability to function in these areas (1).  For example, low self-esteem and negative
            feelings about one’s self can lead to depression (2).</p>
        <p>Self-image is a product of learning. Experiences with influential figures from early childhood such as parents and caregivers significantly influence one’s self-image.  They are mirrors reflecting back to us an image of ourselves.  Our experiences with others such as
            teachers, friends and family can add to this image. These relationships reinforce what we think and feel about ourselves (1).</p>
        <p>Self-image is not permanently fixed. Part of our self-image is dynamic and changing throughout our lives.  We can learn to develop a healthier and more accurate view of ourselves, thus challenging the distortions in the mirror.  A healthy self-image starts with
            learning to accept and love ourselves. It is enhanced when we are accepted and loved by others (1).</p>
        <p><strong>Sources:</strong></p>
        <ol class="no-pad-left">
            <li>clevelandclinic.org, &quot;Fostering a Positive Self-Image&quot;</li>
            <li>Social psychology experts, Kernis and others, published in Personality and Social Psychology Bulletin</li>
        </ol>


    </div>
</div>
<!---TFL actions--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Take inventory of how you feel about yourself emotionally, physically and intellectually.</li>
            <li>Pause and embrace your positive traits and notice where you feel deficient.  Notice these areas but don&rsquo;t judge; rather look at these areas as opportunities to take action.   </li>
            <li>Take time to celebrate the things you love about yourself.</li>
            <li>Watch for critical self-talk and replace it with positive affirming dialogue.</li>
            <li>Practice loving yourself exactly the way you are. </li>
            <li>Focus on the things about yourself for which you are grateful.</li>
            <li>Affirm your worth daily and own your power.</li>
            <li>Take time to celebrate the victories you have accomplished to improve your self-esteem.</li>
            <li>Stop striving for perfection and know your best is good enough.</li>
            <li>Practice healthy habits and take time to nurture yourself.</li>
            <li>Embrace and value your uniqueness.</li>
            <li>Develop your strengths and don&rsquo;t doubt your abilities. </li>
            <li>Refrain from comparing yourself to others; rather focus on yourself. </li>
            <li>Own your own style and let it reflect in the way you live your life. </li>
            <li>Dress in a way that makes you feel good about yourself.</li>
            <li>Eliminate negativity in as many aspects of your life as you can.</li>
            <li>Surround yourself with people who make you feel appreciated, empowered, and supported.</li>
            <li>Focus on changing the things about yourself that are important to you.  </li>
            <li>Remember life is a process and we are all a work in progress.</li>
        </ol>
    </div>
</div>
<!---TFL Tips--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Look at self-image as the totality of who you are and remember that you are more than just the refection you see in the mirror.  You are the sum total of your life’s experiences and who you are is a beautiful reflection of your life’s journey.  Loving yourself
            unconditionally is to love yourself completely.  Value and embrace who you are and live from this place of authenticity.</p>
    </div>
</div>

<!---Tools and resources--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>
            &quot;Building Self-Esteem, a Self-Help Guide&quot; :<br/>
            <a href="http://store.samhsa.gov/shin/content/SMA-3715/SMA-3715.pdf">http://store.samhsa.gov/shin/content/SMA-3715/SMA-3715.pdf</a> <br/>
            &quot;Overcoming Insecurity and Low Self Esteem&quot;:<br/>
            <a href="http://www.pathwaytohappiness.com/writings-insecurity.htm">http://www.pathwaytohappiness.com/writings-insecurity.htm</a> <br/>
            TED Talks: <br/>
            <a href="https://www.youtube.com/watch?v=uOrzmFUJtrs">Meet Yourself: A User's Guide to Building Self-Esteem</a><br/>
            <a href="http://www.ted.com/talks/thandie_newton_embracing_otherness_embracing_myself">Embracing Otherness, Embracing Myself</a> <br/>
            &quot;Guided Meditation for Confidence, Self Love and a Better Self Image&quot;:<br/>
            <a href="https://www.youtube.com/watch?v=5Za1RZWmnYA">https://www.youtube.com/watch?v=5Za1RZWmnYA</a> <br/>
            &quot;The Positivity Blog&quot;:<br/>
            <a href="http://www.positivityblog.com/index.php/2013/09/11/improve-self-esteem/">http://www.positivityblog.com/index.php/2013/09/11/improve-self-esteem/</a> <br/>
            IQ Matrix:<br/>
            <a href="http://blog.iqmatrix.com/improve-self-esteem">http://blog.iqmatrix.com/improve-self-esteem</a><br/>
            <a href="http://iqmatrix.com/free-maps/">http://iqmatrix.com/free-maps/</a></p>
    </div>
</div>





