<!---definition-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Spiritual:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;We are not defining spirituality as following a particular religion, although practicing a religion can help deepen your spirituality.  For the purpose of this dimension, we invite you to think about Spirituality as, ‘feeling a sense of peace and belonging,
            knowing that you are part of something greater than yourself.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Spirituality is the aspect of humanity that refers to the way individuals seek and express meaning and purpose and the way they experience their connectedness to the moment, to self, to others, to nature, and to the significant or sacred.&quot; - Christina
            Puchalski, MD, Director, George Washington Institute for Spirituality and Health</p>
    </div>
</div>



<!---TFL Self Guided-->
<div class="panel panel-default default-show">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time.  We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>Create a Sacred Space: </strong></p>
        <p>Pick a place in your home that you can designate as your sacred space and make it a comfortable and esthetically appealing place to spend time.  Get in the habit of spending 10 to 15 minutes a day in this area in prayer, meditation, contemplation or journaling.</p>
    </div>
</div>


<!---Quotes-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;Spiritual growth is reaching a higher level of consciousness and uniting with others in love in order to make the world a better place.” - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;We are not human beings having a spiritual experience.  We are spiritual beings having a human experience.” - Pierre Teilhard de Chardin</p>
        <p>&quot;Spirituality is recognizing and celebrating that we are all inextricably connected to each other by a power greater than all of us, and that our connection to that power and to one another is grounded in love and compassion.  Practicing spirituality brings a sense
            of perspective, meaning and purpose to our lives.” - Brené Brown, Author, Storyteller and Researcher</p>
    </div>
</div>




<!---Did you know-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;About 95% of Americans recently professed a belief in God or a higher power, a figure that has never dropped below 90% during the past 50 years, and 9 out of 10 people also said that they pray, most of them (67%-75%) on a daily basis.  Many Americans have stated
            that their faith is a central guiding force in their lives.  Over two-thirds (69%) recently reported that they were members of a church or synagogue, and 40% reported that they attended regularly (1).&quot;</p>
        <p>&quot;Spirituality gives expression to the being that is in us; it has to do with feelings, with the power that comes from within, with knowing our deepest selves and what is sacred to us, with, as Matthew Fox says, ‘heart-knowledge’ (2).&quot;</p>
        <p>Faith or spirituality is a fact in the lives of many people.  It is also a fact that many people use their faith or spirituality to help them cope with a health crisis (3).</p>
        <p>&quot;People who are spiritually fit, who are living with a purpose and in connection with the world around them, tend to have a stronger self-esteem, better coping skills, and more solid relationships (4).&quot;</p>
        <ol class="no-pad-left">
            <li>Spirituality, religion, and health: An emerging research field. Miller, William R.; Thoresen, Carl E. American Psychologist, Vol 58(1), Jan 2003, 24-35. http://dx.doi.org/10.1037/0003-066X.58.1.24</li>
            <li>Spirituality at Work Donde P. Ashmos, Dennis Duchon Journal of Management Inquiry Vol 9, Issue 2, pp. 134-145 First published date: July-26-2016 10.1177/105649260092008</li>
            <li>Encyclopedia of Aging, Atchley, Robert C.</li>
            <li>Black, G.L. Spirituality and Religion. Copyright 2007.</li>
        </ol>
    </div>
</div>
<!---TFL actions-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <ol class="no-pad-left">
            <li>Read a daily devotional message.</li>
            <li>Practice meditation.</li>
            <li>Participate in individual or group prayer.</li>
            <li>Take part in community worship.</li>
            <li>Join a small group of like-minded people to grow, share and strengthen your values.</li>
            <li>Spend time in nature.</li>
            <li>Join a volunteer group that aligns with your core values.</li>
            <li>Give back or help someone in need. </li>
            <li>Do a random act of kindness for a stranger and someone you love today.</li>
            <li>Follow a spiritual blog.</li>
            <li>Do yoga to slow down and to connect spiritually.</li>
            <li>Read books that uplift and align with your beliefs.</li>
            <li>Develop tolerance, patience and compassion for yourself and others.</li>
            <li>Remain alert and open-minded to the opportunities and miracles happening in your life. </li>
            <li>Take time each day to quiet your mind and to be thankful.</li>
            <li>Look inside yourself and evaluate what it is that makes you feel alive and do more of it.</li>
            <li>Identify the good in your life and give thanks to God or your higher power.   </li>
            <li>Cultivate an attitude of gratitude and look for the lessons and blessings in all circumstances.</li>
            <li>Start a gratitude journal and use it daily.</li>
            <li>Recognize your unique gifts and talents and use them to benefit yourself and others.</li>
            <li>Do something creative to wake up your soul.</li>
            <li>Slow down and connect with people on a spiritual level.</li>
            <li>Fill your cup so you can fill others.   </li>
            <li>Exercise your spiritual muscles; forgive, accept and love.</li>
            <li>Practice agape love, the purest form of love we can give to ourselves and others.  It is whole, devoid of ego and has no expectations.</li>
        </ol>
    </div>
</div>
<!---TFL Tips-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>There is strong evidence that having an active spiritual life and knowing that you are part of something greater than yourself has a positive effect on your health and Ideal Being.  Make an effort to continue to feed your soul and to grow spiritually, you will feel the
            benefits of time well spent.</p>
        <p>Regardless of your religious affiliation, let love be your guiding light.  Spirituality is an intrinsic part of who you are as a human being—it is your soul.  Improving the health of your spirit starts with love and compassion for yourself and others, waking up to your
            life's purpose and energetically connecting with others in order to make the world a better place.</p>
    </div>
</div>

<!---Tools and resources-->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Desiring God: <br/>
            <a href="http://www.desiringgod.org/articles/all" target="_blank">http://www.desiringgod.org/articles/all</a> <br/>
            (in)courage: <br/>
            <a href="http://www.incourage.me/blog/page/2" target="_blank">http://www.incourage.me/blog/page/2</a> <br/>
            A Holy Experience: <br/>
            <a href="http://annvoskamp.com/" target="_blank">http://annvoskamp.com/</a> <br/>
            What is Spirituality? Taking Charge of Your Health &amp; Well-being: <br/>
            <a href="https://www.takingcharge.csh.umn.edu/enhance-your-wellbeing/purpose/spirituality/what-spirituality" target="_blank">https://www.takingcharge.csh.umn.edu/enhance-your-wellbeing/purpose/spirituality/what-spirituality</a> <br/>
            Exploring Your Spirituality: <br/>
            <a href="http://havingtime.com/if-youre-exploring-your-spirituality-consider-these-5-questions/" target="_blank">http://havingtime.com/if-youre-exploring-your-spirituality-consider-these-5-questions/</a> <br/>
            A Guide to Spiritual Disciplines and Development: <br/>
            <a href="http://liveanddare.com/what-is-spirituality/" target="_blank">http://liveanddare.com/what-is-spirituality/</a> <br/>
            Is There a Difference Between Religion and Spirituality?<br/>
            <a href="https://www.compellingtruth.org/difference-religion-spirituality.html" target="_blank">https://www.compellingtruth.org/difference-religion-spirituality.html</a> <br/>
            Deepening Your Spirituality in Nature: <br/>
            <a href="http://www.centerforspiritualityinnature.org/practices" target="_blank">http://www.centerforspiritualityinnature.org/practices</a> <br/>
            A Beginner&quot;s Guide to Exploring Spirituality: <br/>
            <a href="http://www.becomingminimalist.com/exploring-spirituality/" target="_blank">http://www.becomingminimalist.com/exploring-spirituality/</a> <br/>
            Developing a Spiritual Practice: <br/>
            <a href="http://www.yogitimes.com/article/tips-how-to-develop-a-spiritual-practice-personal-growth-be-spiritual" target="_blank">http://www.yogitimes.com/article/tips-how-to-develop-a-spiritual-practice-personal-growth-be-spiritual</a> <br/>
            Practical Spirituality: <br/>
            <a href="http://goodlifezen.com/practical-spirituality/" target="_blank">http://goodlifezen.com/practical-spirituality/</a> <br/>
            Putting Spirituality to Practice: <br/>
            <a href="http://www.gaiam.com/discover/376/article/5-ways-put-spirituality-practice/" target="_blank">http://www.gaiam.com/discover/376/article/5-ways-put-spirituality-practice/</a> <br/>
            Top 10 Benefits of Spiritual Practice: <br/>
            <a href="http://www.huffingtonpost.com/maggie-lyon/spiritual-practice_b_1231569.html" target="_blank">http://www.huffingtonpost.com/maggie-lyon/spiritual-practice_b_1231569.html</a></p>
    </div>
</div>





