<div *ngIf="users">
    <h1>Admin Area</h1>
    <hr>
    <div>Welcome to admin portal. Here is a list of all users:</div>
    <div>
        <table width="100%" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Steps Completed</th>
                    <th>Took Survey?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | orderBy : 'firstName'">
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{checkSteps(user.steps)}}</td>
                    <td>{{checkSurvey(user.survey) ? 'Yes!' : ''}}</td>
                    <td><a href="javascript:void(0)" (click)="viewUser(user);">[View Stats]</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div *ngIf="user">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <hr>
        <h3>Assessment Answers</h3>
        <table width="100%" class="table table-striped table-bordered">
            <tr *ngFor="let item of user.assessment">
                <td>{{item.questionValue}}</td>
                <td>{{item.answerValue}}</td>
            </tr>
        </table>
        <hr>
        <h3>Survey Answers</h3>
        <hr>
        <table width="100%" class="table table-striped table-bordered">
            <tr *ngFor="let item of user.survey">
                <td>{{item.questionValue}}</td>
                <td>{{item.answerValue}}</td>
            </tr>
        </table>
    </div>
</div>