<div *ngIf="users">
    <h1>Admin Area</h1>
    <hr>


    <div class="row">
        <div class="col-md-12">
            <a-survey></a-survey>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <a-assessment></a-assessment>
        </div>
    </div>
    <hr>

      <div class="row">
        <div class="col-md-12">
            <a-dimensions></a-dimensions>
        </div>
    </div>
    <hr>

    <div>
        <h2>Users</h2>
        <div padding>
            <form>
                <input name=""/>
            </form>
        </div>
        <table width="100%" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Steps Completed</th>
                    <th>Took Survey?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let user of users | orderBy : 'firstName'">
                <tr>
                    <td>{{user.companyCode}}</td>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{checkSteps(user.steps)}}</td>
                    <td>{{checkSurvey(user.survey) ? 'Yes!' : ''}}</td>
                    <td><a href="javascript:void(0)" (click)="viewUser(user);">[View Stats]</a></td>
                </tr>
                <tr *ngIf="currentUser && currentUser.email == user.email">
                    <td colspan="5" style="background:lightgrey">                         
                            <h3>Assessment Answers for {{user.firstName + " " + user.lastName}}</h3>
                            <table width="100%" class="table table-striped table-bordered">
                                <tr *ngFor="let item of user.assessment">
                                    <td>{{item.questionValue}}</td>
                                    <td>{{item.answerValue}}</td>
                                </tr>
                            </table>
                            <hr>
                            <h3>Survey Answers for {{user.firstName + " " + user.lastName}}</h3>
                            <hr>
                            <table width="100%" class="table table-striped table-bordered">
                                <tr *ngFor="let item of user.survey">
                                    <td>{{item.questionValue}}</td>
                                    <td>{{item.answerValue}}</td>
                                </tr>
                            </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>


</div>