<!--The whole content below can be removed with the new code.-->
<div class="container">
  <div class="row">
    <c-header></c-header>
  </div>
  <div class="row content">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <footer>
        <div class="powered-by"><img src="assets/images/powered-by.png" style="width: 200px;"></div>
        <div>Copyright &copy; 2016 | Train for Life&reg; | Ideal Being&trade; | by Empower Health America - All rights reserved</div>
        <div>Empower Health America (704) 200-4459 <br> www.EmpowerHealthAmerica.com</div>
        <div>Site by : <a href="http://www.judsondesigns.com" target="_blank" class="orange">Judson Designs</a></div>
        <div>&nbsp;</div>
      </footer>
    </div>
  </div>
</div>

