<!---definition---><h2>
    Stress Management TFL Action Plan </h2>
<hr>
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-book blue" aria-hidden="true"></i> Definition of Stress:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>&quot;A physical, chemical, or emotional factor that causes bodily or mental tension and may be a factor in disease causation; a state resulting from a stress; especially:  one of bodily or mental tension resulting from factors that tend to alter an existent
            equilibrium.&quot; - https://www.merriam-webster.com/dictionary/stress </p>
        <p>&quot;The emotions that are triggered when a person feels threatened, overwhelmed or super charged.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
    </div>
</div>

<!---TFL Self Guided--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-pencil-square-o blue" aria-hidden="true"></i> TFL Self-Guided Exercises:</h4> <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span></div>
    <div class="panel-body">
        <p>Take time to think about the following questions and perhaps answer them in a personal Ideal Being Journal that you can go back and reference and add to over time. We encourage you to share and discuss your answers with a coach, counselor or friend. You will be asked
            to answer the same seven questions for each dimension and we encourage you to take the time to do this self-reflective exercise. Your answers will give you greater clarity and a good foundation in which to begin your journey to a state of Ideal Being. </p>
        <ol class="no-pad-left">
            <li>What does your life currently look and feel like in this dimension?</li>
            <li>Specifically what are the things you are doing to feel satisfied in this dimension of your life?</li>
            <li>What do you envision your life to look and feel like if you gain greater satisfaction in this dimension?</li>
            <li>Specifically what would you like to integrate into your life in this dimension?</li>
            <li>What are the barriers that are keeping you from improving this dimension of your life?</li>
            <li>What can you do to eliminate or navigate around these barriers?</li>
            <li>What tools and support do you need to be successful?</li>
        </ol>
        <p><strong>De-stress in 60 seconds:</strong></p>
        <p>Start by sitting in a comfortable chair.  Close your eyes and take inventory of how you are feeling.  Begin breathing deeply.  Feel the rise and fall of your chest, the earth under your feet and the clothes on your skin.  Notice the temperature of your body and any
            areas where you may feel tension.  Start to soften your face and shoulders and begin releasing any additional tightness you may feel.  Become aware of your thoughts and notice the physical sensations and emotional feelings you are experiencing.  Continue breathing
            deeply for another 30 seconds, allowing your senses to heighten.</p>
        <p>This de-stress exercise will help you release tension, ground your energy and bring you to a place of greater connection and awareness.  It can be done multiple times per day and for longer periods of time if desired.</p>

        <p><strong>Meditation Exercise:</strong></p>

        <p>Sit in a comfortable position during a period of meditation.  Perhaps start with 5 minutes and build up to 20 minutes.  Use your inhales and exhales to keep you connected to your body and the moment.  Connect to your breath as a touchstone throughout the entire
            process.  Begin by becoming more aware and acknowledge your desire to be present.  Breathe naturally, inhaling and exhaling slowly and deeply.  Let your focus on your breath help you release tension and quiet your mind.  If a thought, emotion, or sensation arises,
            observe but don’t latch on to it.  Simply return to your breathing.</p>
        <p>You may be distracted numerous times and perhaps your entire meditation session will be full of sensations clamoring for attention.  Don’t judge yourself negatively.  Just return to your breathing, knowing each interruption is yet another opportunity to return to the
            present and to conscious participation in the moment.</p>
        <p>Another option is to add a mantra to your meditation.  You can repeat a word or phrase in your mind while you meditate to help you stay focused.  Example:  I am grateful, I feel safe, I am healthy and I feel loved.    </p>
    </div>
</div>


<!---Quotes--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-quote-left blue" aria-hidden="true"></i> TFL Quotes</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;There is power in the pause, so slow down and just breathe in the moment.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</p>
        <p>&quot;Stress is caused by being ‘here’ but wanting to be ‘there.&quot; - Eckhart Tolle</p>
        <p>&quot;Do not anticipate trouble or worry about what may never happen.  Keep in the sunlight.&quot; - Benjamin Franklin</p>
        <p>&quot;When I look back on all these worries, I remember the story of the old man who said on his deathbed that he had had a lot of trouble in his life, most of which had never happened.&quot; - Winston Churchill</p>
    </div>
</div>


<!---Did you know--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-lightbulb-o blue" aria-hidden="true"></i> Did You Know:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>&quot;There are numerous emotional and physical disorders that have been linked to stress including depression, anxiety, heart attacks, stroke, hypertension, [and] immune system disturbances that increase susceptibility to infections.&quot; - The American Institute of
            Stress</p>
        <p>&quot;It has been known to negatively affect our decision making abilities so that we make bad judgment calls.&quot; - Susan Knowlton, &quot;The Positive Effects of Stress,&quot; HeathGuidance for Better Health</p>
        <p>&quot;Stress can have direct effects on the skin…and can contribute to insomnia and degenerative neurological disorders like Parkinson’s disease.  In fact, it’s hard to think of any disease in which stress cannot play an aggravating role or any part of the body that is
            not affected.&quot; - The American Institute of Stress</p>
        <p>&quot;Stress occurs when pressure exceeds your perceived ability to cope.  So it is not just external pressure, such as reaching deadlines, that triggers stress, but whether you believe that you can cope with a situation that you perceive as important or threatening.&quot; 
            - Stephen Palmer and Cary Cooper, How to Deal with Stress</p>
    </div>
</div>

<!---TFL actions--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-universal-access blue" aria-hidden="true"></i> TFL Actions to Consider:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Awareness influences conscious action.</p>
        <p>Take note of the areas of your life that have been causing you long-term stress. Pinpoint the cause, create an action plan to eliminate the stress and work the plan. Feeling empowered will immediately help you reduce stress. Here are ten awareness/action exercises to
            get you started. </p>
        <p><strong>1. Awareness:</strong>  Take a proactive look at your calendar on a weekly basis and acknowledge what causes you stress.<br> <strong>Action:</strong></p>
        <ul>
            <li>Make adjustments to your schedule to reduce stress.</li>
            <li>Set realistic goals that are manageable and achievable.  </li>
            <li>Practice slowing down.</li>
            <li>Manage your time by leaving more space in between events and appointments.</li>
            <li>Cultivate a group that can support and help you.</li>
        </ul>
        <p><strong>2.  Awareness:  </strong>Notice if you feel fatigued or sluggish. <br/> <strong>Action:</strong></p>
        <ul>
            <li>Get the right amount of sleep (7 to 8 hours) so your body can recharge.  Lack of sleep can contribute to stress.  </li>
            <li>Keep caffeine intake to a minimum.  Caffeine can make you anxious.</li>
            <li>Try chamomile tea, which is a good substitute for coffee.</li>
            <li>Fuel your body with healthy food for energy.  Food can affect your mood.</li>
            <li>Give yourself permission to sleep in.</li>
            <li>Reading before bedtime is a good way to unwind.  Conversely, watching television and using technology are not helpful. </li>
            <li>White noise machines can aid in sleeping.</li>
        </ul>
        <p><strong>3. Awareness:</strong>  Be in the moment and conscious of your emotions and energy.  <br/> <strong>Action:</strong></p>
        <ul>
            <li>Practice meditation.  It aids in calming the mind and will help you become more aware of how you are feeling.</li>
            <li>Practice self-care by getting a massage, acupuncture or acupressure to reduce stress. </li>
            <li>Stop what you are doing and take slow deep breaths if you feel overwhelmed.  </li>
            <li>Listen to calm music in your car or at home to reduce your stress.</li>
            <li>Practice yoga and spend time in prayer and contemplation. </li>
            <li>Start a gratitude journal to remind you of all the things in life that bring you joy.</li>
        </ul>
        <p><strong>4.  Awareness:  </strong>Notice how your surroundings are affecting how you feel.<br/> <strong>Action:</strong></p>
        <ul>
            <li>Declutter your home, car and office.</li>
            <li>Create a peaceful area in your home where you can unplug and relax.  </li>
            <li>Light some candles, put on some calm music, dim the lights, turn off your cell phone and just chill.</li>
            <li>Take a long shower or bath and add some aromatherapy into the mix by using bath salts, oils, lotions or soaps that have a lavender scent.</li>
            <li>Play relaxing music in your car or stay unplugged and enjoy the sound of your own breath.</li>

        </ul>
        <p><strong>5. Awareness:</strong>  In stressful situations, notice how you are feeling and how you react.<br> <strong> Action:</strong></p>
        <ul>
            <li>Don&rsquo;t jump to conclusions and assume the worst.</li>
            <li>Watch for default behavior<strong> </strong>and unhealthy patterns.<strong>  </strong></li>
            <li>Engage in calm conversation rather than becoming defensive or shutting down. </li>
            <li>Recognize your stress triggers and develop a proactive way to cope with them.</li>
            <li>Practice positive self-talk when dealing with stressful situations. </li>
            <li>Start a journal and jot down any feelings you have about stressful situations; then write about how you can best handle them.</li>
        </ul>
        <p><strong>6. Awareness:</strong>  Take inventory of the people in your life and make sure the relationships are healthy and balanced.<br> <strong>Action:</strong></p>
        <ul>
            <li>Limit time with people or situations that cause you stress.</li>
            <li>Spend time in community connecting with like-minded people. </li>
            <li>Set healthy boundaries at work, home and in life.</li>
            <li>Teach your kids the importance of taking timeouts.  It will be good for you and them.  <br/>  </li>
        </ul>
        <p><strong>7. Awareness:</strong>  Feeling overwhelmed at work?  Take personal awareness breaks to check in with yourself.<br/> <strong>Action:</strong></p>
        <ul>
            <li>Take time to enjoy a few breaks while at work (i.e. eat lunch or take healthy snack breaks, take a walk, sit outside and enjoy the sunshine, do some stretches at your desk, listen to relaxing music, talk to a friend or co-worker).</li>
            <li>Practice healthy work-life balance. </li>
            <li>Don&rsquo;t wait to be sick—take a mental health day. </li>
            <li>Take computer breaks to release tension in your neck and shoulders, to rest your eyes and to stretch your legs.</li>
            <li>Proactively discuss issues that are causing you stress at work with Human Resources, your supervisor or a trusted advisor.</li>
        </ul>
        <p><strong>8. Awareness:</strong>  Notice if you are holding onto negative thoughts or not speaking up for yourself.<br/> <strong>Action:</strong></p>
        <ul>
            <li>Ask for what you need and know that you desire it.  </li>
            <li>Have the courage to say no, to speak your truth and to recognize the only things you can attempt to control are your own thoughts and actions.</li>
            <li>Deal with stressful situations head on.  Acknowledge them and come up with a proactive plan to deal with them.</li>
        </ul>
        <p><strong>9. Awareness:</strong>  Notice if you are physically holding on to tension.<br> <strong>Action:</strong></p>
        <ul>
            <li>Exercise.  It will help you reduce physical tension and anxiety and lower the stress hormones in your body.</li>
            <li>Pet an animal or hug someone for 20 seconds and feel your tension melt away.</li>
            <li>Practice smiling and laughing more.  Both actions reduce stress.</li>
            <li>Raise the serotonin levels in your body by watching a funny movie and belly laughing.</li>
        </ul>
        <p><strong>10. Awareness:</strong>  Watch out for signs of stress overload:  headache, unable to focus, anger, sadness, depression, anxiety etc.<br><strong>Action: </strong></p>
        <ul type="disc">
            <li>If you feel overwhelmed, seek help from a person you trust or a trained professional if any of the above signs become chronic.</li>
        </ul>
        <ul type="disc">
            <li>Consult your primary care physician about counseling options and/or medication, which could help you manage chronic stress or depression.</li>
            <li>Do not self-medicate (with alcohol or medication consumption, etc.).  Find a healthier way to deal with stress.<br/>
            </li>
        </ul>
    </div>
</div>

<!---TFL Tips--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa-thumbs-o-up blue" aria-hidden="true"></i> TFL Tips</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>Terrie Elizabeth Reeves, founder of Empower Health America, reminds us of two important things.</p>
        <ol>
        <li>Not all stress is bad.  It can be a motivator that empowers you to take action. It can give you just that shot of adrenalin you need to get a project completed or the courage to speak up for something that is important to you.  However, be aware when stress begins to have a negative impact on your total Ideal Being. Chronic stress over time can have an adverse impact on your health and be a barrier to happiness and your potential of living a full and healthy life.</li>
            <li>Notice how many people are on their cell phones when you go to restaurant, a sporting event or you show up early for a meeting. Don’t get me wrong technology is not our enemy, we are. Research is affirming how the overuse of electronic devices and the worlds they pull us into are having a negative impact on our brains, our stress levels and our health. I challenge you to be aware of your own habits in this area and to be empowered to put your cell phone down, look up and practice the art of living consciously in the moment. You will be amazed at what you discover and feel.</li>
            </ol>
    </div>
</div>

<!---Tools and resources--->
<div class="panel panel-default">
    <div class="panel-heading bg-light-blue"><h4><i class="fa fa fa-wrench blue" aria-hidden="true"></i> Tools and Resources:</h4> <span class="pull-right clickable panel-is-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span></div>
    <div class="panel-body panel-collapsed">
        <p>How to Deal With Stress, by Stephen Palmer and Cary Cooper.<br> The American Institute of Stress:  <br> <a href="http://www.stress.org">http://www.stress.org</a><br> &quot;Good Stress, Bad Stress,&rdquo;ULifeline: <br>
            <a href="http://www.ulifeline.org/articles/450-good-stress-bad-stress">http://www.ulifeline.org/articles/450-good-stress-bad-stress</a> <br/> &quot;Helpful Tips On How To Manage Everyday Tips,&rdquo; ULifeline:<br>
            <a href="http://www.ulifeline.org/articles/427-managing-stress">http://www.ulifeline.org/articles/427-managing-stress</a> <br/> &quot;The Positive Effects of Stress,&rdquo; by Susan Knowlton, HeathGuidance for Better Health:<br/>
            <a href="http://www.healthguidance.org/entry/15537/1/The-Positive-Effects-of-Stress.html">http://www.healthguidance.org/entry/15537/1/The-Positive-Effects-of-Stress.html</a><br> &quot;Talks to help you manage stress,&rdquo; TED:<br/>
            <a href="https://www.ted.com/playlists/315/talks_to_help_you_manage_stres">https://www.ted.com/playlists/315/talks_to_help_you_manage_stres</a>
        </p>
    </div>
</div>

<a routerLink="/dashboard">
    <button class="btn btn-primary pull-right">Back to Dashboard</button>
</a>





