<h1 class="blue">TFL Personal Empowerment Contract:</h1>

<p>Ideal Being is reaching a deep state of happiness and satisfaction in your life by feeling emotionally, physically and spiritually healthy. Transform your life by moving from awareness to Ideal Being.</p>
<ul>
    <li>Aware of where you are in your life</li>
    <li>Awake to what is important to you</li>
    <li>Empowered to take action</li>
    <li>Transformed by living with greater intention and purpose</li>
</ul>

<p align="right"><strong>“You cannot create in your life what you cannot envision in your mind.</strong><br>”Terrie Elizabeth Reeves, Founder, Empower Health America</p>

<p>TFL Dimension: __________________________</p>

<p>I am inspired to <strong>continue:</strong></p>
<p style="height:60px;"></p>
<p>I am motivated to <strong>stop:</strong></p>
<p style="height:60px;"></p>
<p>I am empowered to <strong>start:</strong></p>
<p style="height:60px;"></p>

<p>Be the change you want to see in the world by making a commitment to yourself first.</p>

<p>Signature: ___________________________________________________ Date: ___________________</p>

<p>Dare to go deeper because you can…believe in yourself because you are powerful and see your potential because it is possible.</p>

<p>Keep a playful spirit so you can embrace new things freely; an open mind so the doorway to possibilities is always wide and an open heart so you don’t miss an opportunity to love yourself and others.</p>

<p>Going deeper allows you to connect to the things that bring you joy and to become awake to what is important. May this state of being spark a flame inside of you that will forever brighten your path to peace and happiness.</p>


<p>Live intentionally from a place of gratitude, don’t judge, be curious, align your passion with you purpose and pause often to celebrate this beautiful journey called life. Connect with yourself and others, show compassion, take time to play, practice the art of letting go,
    love boldly, laugh often…and be authentically you. Become awake, aware, empowered and transformed in order to reach a state of Ideal Being.</p>

