<style>
    .pagebreak {
        page-break-after: always;
    }
</style>
<div class="pagebreak">
    <h1>TFL Empowerment Guide</h1><i class="pull-right fa fa-print" aria-hidden="true" style="font-size: 48px;
       cursor: pointer" tooltip="Print this page." placement="top" triggers="mouseenter" [isDisabled]="false" onclick="document.title='TFL Guide'; window.print()"></i>
    <hr>
    <p style="font-size: 17px; color: #00968D;" class="hidden-print">Congratulations! You have now completed STEP 4. <br>Once you have viewed your TFL Empowerment Guide, return to your TFL Dashboard to complete STEP 5, in order to COMPLETE your assessment.
        <a class="blue" (click)="goToDashboard()" *ngIf="!datamode && !guidemode">Back to Dashboard</a></p>
    <hr>
    <div class="text-center"><h2>YOUR TRAIN FOR LIFE EMPOWERMENT GUIDE</h2></div>
    <div class="text-center"><h4>TRANSFORM YOUR LIFE BY MOVING FROM AWARENESS TO IDEAL BEING</h4></div>
    <div class="text-center"><img src="/assets/images/tfl-color-wheel.jpg" style="width: 600px;"/></div>
    <div class="text-center">
        <div class="panel panel-default" style=" width:600px; margin: 20px auto;">
            <div class="panel-heading blue-bg text-center" style="color: white; font-weight: bold; font-size: 24px;">Aware &nbsp;&bull;&nbsp; Awake &nbsp;&bull;&nbsp; Empowered &nbsp;&bull;&nbsp; Transformed</div>
        </div>
    </div>
    <div><p>Disclaimer: The information covered in your TFL Empowerment Guide reflects recommendations only. Please consult your primary care physician if you need professional guidance or help. </p></div>
</div>
<div class="pagebreak">
    <p> <strong class="blue">CONGRATULATIONS!</strong> You have completed your Train For Life (TFL) Assessment. Self-reflection is a powerful reminder of who you are and where you are in your life, so we hope through this assessment experience you have gained a broader perspective of your
        Ideal Being and the factors that impact your happiness and overall life satisfaction. Taking inventory of your life is a good first step toward greater personal awareness.</p>

    <p><i>&quot;<i>It is not the answer that enlightens, but the question.</i>&quot; - Decouvertes</i></p>

    <p> <strong class="blue"><i>Ideal Being:</i></strong> A state of deep satisfaction in all the dimension of your life that are important to you.</p>
    <p><i>What defines ideal health, happiness and life satisfaction is personal and different for everyone. It is through self-discovery that you learn what is important, so the TFL Assessment invited you to take a holistic view of your life through the examination of the
             following
        dimensions: Nutrition, Activity, Emotion, Habits, Relationships, Health, Financial, Play, Home, Intellect, Self-image, Occupation, Spiritual, Life Balance and Stress. It is through this process that we hope you discover what Ideal Being means to you.</i></p>

    <p>This TFL Empowerment Guide was created especially for you. It is based on the dimensions you unlocked and reflects your assessment results and data. This information and tools can help you improve and sustain a state of ideal being in all 15 TFL dimensions. We hope you
        will use it to take action in the dimensions that are important to you. Making lifestyle changes starts with one step, so begin your journey now. We encourage you to use this guide as a roadmap to reach your final destination—a state of ideal being.</p>

    <p><i>"Be patient with yourself. Self-growth is tender; it’s holy ground. There is no greater investment."</i> - Stephen Covey</p>

    <p>Important to note:  The guide becomes more comprehensive by unlocking all your dimensions.</p>
    <p> <strong class="blue">HOW CAN I REACH MY IDEAL STATE OF BEING?</strong></p>

    <p>We have developed a 4-step Train For Life process, which will help you reach your ideal state of being. Each stage is an important step in the process.</p>


    <p>In working through the TFL process you will become:</p>
    <ul>
        <li> <strong class="blue">Aware</strong> of a broader way of thinking about your overall health and Ideal Being. Taking the assessment was the first step in this process.</li>
        <li> <strong class="blue">Awake</strong> to the dimensions in your life that are important to you and where you are motivated to take action.</li>
        <li> <strong class="blue">Empowered</strong> to take action by working the plans in the dimensions that are important to you.</li>
        <li> <strong class="blue">Transformed</strong> as new behaviors and lifestyle choices become integrated and a part of your life.</li>
    </ul>
    <p>This 4-part TFL process is fluid, so you may move back and forth between each stage; but we encourage you to stay awake to the things that make you happy and to remember that you deserve to be deeply satisfied in all dimensions of your life.</p>
    <p> <strong class="blue">Did You Know?</strong></p>
    <ul>
        <li> <strong class="blue">80%</strong> of chronic conditions (including depression, diabetes, heart disease) are preventable or controllable with a few lifestyle modifications. (Centers for Disease Control)</li>
        <li> <strong class="blue">69%</strong> of Americans identify finances as a major source of stress. (American Psychological Association)</li>
        <li>People with strong relationships with family and friends are happier and show fewer signs of depression. ("The New Science of Happiness," Time Magazine, 2005)</li>
    </ul>
    <p>These types of statistics provide hope and reinforce that no one is without life challenges. The good news is you are not alone and YOU have the power to begin to create greater satisfaction in your life.</p>
    <p>Bonus: Being more satisfied in your life will also equip you to better handle stressful situations in a more productive and healthy manner.</p>

    <p> <strong class="blue">I’M MOTIVATED TO TAKE ACTION! HOW DO I GET STARTED?</strong></p>
    <ul class="list-pad">
        <li> <strong class="blue">Set intentional and realistic goals:</strong> Rome wasn’t built in a day; similarly, changing behavior requires focused energy and time. Don’t get discouraged if you don’t see change right away. Healthy habits that last often take the most time and effort to
            develop. <br>
            <i>&quot;Remember the 21/90 rule: it takes at least  <strong class="blue">21 days</strong> for new or changed behavior to become a habit, and  <strong class="blue">90 days</strong> for it to become a lifestyle.” Dr. Maxwell Maltz, “Psycho Cybernetics: A New Way to Get More Living Out of Life”</i>
        </li>

        <li> <strong class="blue">Envision your success and then create it:</strong> Visualize the end result and what your ideal state looks and feels like. Keep positive thoughts in your mind, the endgame in sight and know your goals can become a reality. Create a personal
            contract with yourself to help you stay motivated. <!--<a routerLink="/contract">Click here to access a TFL Personal Empowerment Contract.</a>--><br>
            <i>&quot;You cannot create in your life what you cannot envision in your mind.&quot; Terrie Elizabeth Reeves, Founder, Empower Health America</i>
        </li>

        <li> <strong class="blue">Follow your progress:</strong> This guide provides you an Ideal Being Score in each dimension and an overall Ideal Being Score that benchmarks your current level of satisfaction. Knowing where you are is an important step to determining where you want to
            go. We
            encourage you to utilize your action plans and to take breaks along the way to celebrate your successes. To see how you’re doing, we welcome you to print this guide out as a reference tool and to retake the TFL assessment every three months by logging back in to the
            TFL Assessment site, and taking the assessment again. This will allow you to compare your updated results to your original ones.
        </li>

        <li> <strong class="blue">Stay informed and want to go. We encourage you to empowered:</strong> Your Empowerment Guide includes action plans in each dimension designed to help you stay empowered and on course, so we encourage you to use this information by putting it into action. Sharing your guide and working with a
            counselor, coach or trusted advisor on your action plans and goals is another way to help you along your path to greater happiness and satisfaction. Friends and family can also be a big help, so seek out people who will provide you support and encouragement.
        </li>

        <li> <strong class="blue">Pause to celebrate your accomplishments:</strong> Reassessing where you are is an important part of the journey. Take time to appreciate the progress you have made along the way and don’t underestimate the importance of recognizing your hard work. This can be
            done through positive self-affirmation while meditating, through prayer of appreciation, gratitude journaling or talking through your accomplishments with a friend or family member. These small pauses will help to keep you empowered and on track. Remember, each
            intentional action brings you one step closer to meeting your goals, and ultimately to your desired state of Ideal Being.<br>
            <i>&quot;There is power in the pause, so slow down to recognize your achievements and be grateful.&quot; Terrie Elizabeth Reeves</i>
        </li>

        <li> <strong class="blue">Rebound when you relapse:</strong> Everyone encounters barriers and challenges when setting goals around life changes. This is a normal part of the change process, so when you journey toward transformation, don’t focus on the barriers you encounter; just
            concentrate on the solutions. It is a good idea to establish a recovery plan so when you hit barriers you have a proactive strategy for dealing with them. For example, if you are trying to lose weight and you go off the reservation and binge eat for two days, don’t
            beat yourself up or get discouraged or stuck. Pause, take a deep breath and recognize the successes you have made, hit the restart button, ask for help and recognize that setbacks are part of the road to change. <br>
            <i>&quot;Failure is where growth happens, so look at it as a
                beautiful part of the process; it means you are one step closer to Ideal Being.&quot; Terrie Elizabeth Reeves</i>
        </li>
    </ul>

    <p>Thank you for taking the Train For Life assessment. We hope that you found the assessment experience valuable and that you use your TFL Empowerment Guide as a resource. Now that you are  <strong class="blue">aware</strong>, stay  <strong class="blue">awake</strong> to the things that make you happy and
        <strong class="blue">empowered</strong> to stay the course to  <strong class="blue">transformation</strong>—ultimately reaching a state where you are happy and deeply satisfied in all dimensions of your life. Final destination… <strong class="blue"><i>Ideal Being!</i></strong> Lasting change requires you to believe in yourself, so become your greatest advocate.</p>

    <p>If you are interested in reading about what inspired the development of the Train For Life Assessment and the story behind the creation of the Ideal Being model,  <strong class="blue"><a class="nav-link" routerLink="/about">click here</a></strong>. You will also find testimonials on how the TFL Assessment tool has empowered people to make changes in their behavior to improve their quality of life.</p>

    <p>We hope your below TFL Action Plans and data will help you as you work towards taking action in the dimensions of your life that are important to you. Greater awareness will help you make more mindful decisions, so use your personalized TFL Guide to help you set goals and explore ways to achieve greater satisfaction in your life.</p>


</div>

<!--<div style="padding: 30px; clear: both" class="pagebreak">

    <img src="/assets/images/log_only_large.jpg">
    <p>Some content....</p>
    <p>Some content....</p>
    <p>Some content....</p>
    <p>Some content....</p>
</div>-->


<div *ngFor="let item of userData.assessment" class="pagebreak" style="clear:both;">
    <c-dimension [dimensionid]="item.id" [guidemode]="true"></c-dimension>
</div>

<modal-tfl-guide #t="child5"></modal-tfl-guide>


<div>
<hr>




<p class="text-center"> <strong class="blue">Dare to go deeper because you can &bull; Believe in yourself because you are powerful &bull; Know your potential because it is possible!</strong></p>

<p>We wish you the best of luck on this journey called life!</p>

    <p>If you are interested in reading about what inspired the development of the Train For Life Assessment and the story behind the creation of the Ideal Being model,  <strong class="blue"><a class="nav-link" routerLink="/about">click here</a></strong>. You will also find testimonials on how the TFL Assessment tool has empowered people to make changes in their behavior to improve their quality of life.</p>



</div>
<hr class="clear-fix">
<div calss="clear-fix">
    <button class="btn btn-primary pull-right" (click)="goToDashboard()" *ngIf="!datamode && !guidemode">Back to dashboard</button>
</div>



