<style>
  .pagebreak {
    page-break-after: always;
  }

</style>
<div *ngIf="assessmentData">
<div class="pagebreak">
  <h1>TFL Empowerment Guide</h1><i class="pull-right fa fa-print" aria-hidden="true" style="font-size: 48px;
       cursor: pointer" tooltip="Print this page." placement="top" triggers="mouseenter" [isDisabled]="false" onclick="document.title='TFL Guide'; window.print()"></i>
  <hr>
  <p style="font-size: 17px; color: #00968D;" class="hidden-print">Congratulations! You have now completed STEP 4. <br>Once you have viewed your TFL Empowerment Guide, return to your TFL
    Dashboard to complete STEP 5, in order to COMPLETE your assessment.
    <a class="blue" (click)="goToDashboard()" *ngIf="!datamode && !guidemode">Back to Dashboard</a></p>
  <hr>
  <div class="text-center">
    <h2>YOUR TRAIN FOR LIFE EMPOWERMENT GUIDE</h2>
  </div>
  <div class="text-center">
    <h4>TRANSFORM YOUR LIFE BY MOVING FROM AWARENESS TO IDEAL BEING</h4>
  </div>
  <div class="text-center"><img src="/assets/images/tfl-color-wheel.jpg" style="width: 600px;" /></div>
  <div class="text-center">
    <div class="panel panel-default" style=" width:600px; margin: 20px auto;">
      <div class="panel-heading blue-bg text-center" style="color: white; font-weight: bold; font-size: 24px;">Aware &nbsp;&bull;&nbsp; Awake &nbsp;&bull;&nbsp; Empowered &nbsp;&bull;&nbsp; Transformed</div>
    </div>
  </div>
</div>
<div class="pagebreak">
  <p> <strong class="blue">CONGRATULATIONS!</strong> We hope the Train For Life® (TFL) Assessment experience broadened your perspective
    on what impacts your health and happiness. By taking inventory of your life in 15 different dimensions you have started
    the journey towards self-awareness. We encourage you to stay the course now that you have identified the dimensions in
    which you are thriving, areas that you are unsatisfied and most importantly, where you are motivated to take action.
    This guide will provide tools to get you started.</p>
  <p><i>&quot;To be empowered you must first pause and become aware and awake to what is important to you.&quot; - Terrie Elizabeth Reeves, Founder, Empower Health America</i></p>
  <p><i>&quot;It is not the answer that enlightens, but the question.</i>&quot; - Decouvertes</p>
  <p>Terrie Elizabeth Reeves, founder of Empower Health America, dedicated the last ten years of her life to developing the
    Train For Life Assessment and Ideal Being Model™ with the intention of inviting people to take inventory of their lives
    in a more holistic manner. A primary goal in developing the model was to encourage people to broaden their perception
    of health and human potential moving beyond well-being to what she trademarked Ideal Being. </p>
  <p>As Westerners, we tend to take a narrow view of what impacts our health, happiness and overall well-being. Going to the
    doctor, eating well, exercising and getting proper sleep are all important aspects of well-being, but we hope the 15
    dimensions exposed you to the many other factors that impact and influence your overall health and happiness. </p>
  <p>After three decades of work in the health and wellness industry and her own life’s journey, Terrie continues to dedicate
    her life to empowering people to believe in their potential and to have the courage to become more aware, awake, empowered
    and transformed in order to reach a personal state of Ideal Being.</p>
  <p><strong class="blue">The TFL Empowerment Guide</strong> is our gift to you and we encourage you to print it out and use
    it as a reference guide and motivational tool to take action. Your Empowerment Guide reflects all the dimensions you
    have unlocked, so the more TFL Action Plans you explore, the more comprehensive your guide becomes. </p>
  <p><strong class="blue">What is Ideal Being?</strong> To be healthy, happy and whole by reaching a state of deep satisfaction
    in the dimensions of your life that are important to you.</p>
  <p>What defines ideal health, happiness and life satisfaction is personal and different for everyone. Keeping your life balanced
    and feeling healthy, happy and whole requires you to stay awake, so make it a practice to pause and take inventory in
    the following dimensions on a regular basis: Nutrition, Activity, Emotion, Habits, Relationships, Health, Financial,
    Play, Home, Intellect, Self-image, Occupation, Spiritual, Life Balance and Relax.</p>

  <h4 class="blue">&nbsp;&nbsp;&nbsp;&nbsp;HOW CAN I REACH MY IDEAL STATE OF BEING?</h4>

  <p>We developed a 4-step Train For Life process. Each step is important and the process is fluid, so you may move back and
    forth between each stage. Remember that you deserve to be deeply satisfied in all the dimensions of your life that are
    important to you.</p>

  <p>The good news is you have already completed steps one and two.</p>

  <ol>
    <li>You took the assessment to become more <strong class="blue">Aware</strong> of your life in 15 dimensions and to identify the dimensions in which you
      are thriving and where you are unsatisfied.</li>
    <li>You answered questions to become more <strong class="blue">Awake</strong> to what is important to you and where you are motivated to take action.</li>
    <li>Now that you know where you want to take action, become <strong class="blue">Empowered</strong> to use this guide and any additional resources to reach
      your goals.</li>
    <li>Intrinsic motivation is the desire to take action because something is internally and deeply important to you. Become
      <strong class="blue">Transformed</strong> as you integrate new behaviors and lifestyle choices into your life.</li>
  </ol>
  <p><i>&quot;I am seeking, I am striving, I am in it with all my heart.&quot; - Vincent van Gogh</i></p>

<h4 class="blue">&nbsp;&nbsp;&nbsp;&nbsp;MOTIVATED TO TAKE ACTION? HOW DO I GET STARTED?</h4>

<p><strong class="blue">Set intentional and realistic goals:</strong> Rome wasn’t built in a day. Similarly, changing behavior requires focused time and energy, so take action in an intentional manner. Focus on what is most important to you. Write your goals down, establish a clear game plan to reach them, and determine a time-line that is realistic. It is important not to get discouraged if you don’t see change right away. Healthy habits that last often take the most time and effort to develop. </p>

<p><i>&quot;Remember the 21/90 rule: it takes at least 21 days for new or changed behavior to become a habit, and 90 days for it to become a lifestyle.&quot;  - Dr. Maxwell Maltz, Psycho Cybernetic</i></p>
<p><strong class="blue">Envision success and then create it!</strong> Visualize the end result and what your ideal state looks and feels like. Keep positive thoughts in your mind with the end game in sight. Creating a personal contract with yourself will help you stay on course. You can create your own one page contract by following the below template. </p>
<ul>
    <li>Type at the top of the document: My Personal Empowerment Contract</li>
    <li>Time-line: Establish a time-line</li>
    <li>Goal: What you want to change and why you want to change (be sure the motivation to change is for you and not for someone else)</li>
    <li>Future state: What your life will look like and feel like once you reach your goal</li>
    <li>Accountability: Who can help you and what does that look like     </li>
    <li>Relapse: What’s your plan if you relapse</li>
    <li>Type at the bottom of the document: I can do this because my life is important. (sign your name)</li>
</ul>

<p><i>&quot;You cannot create in your life what you cannot envision in your mind.&quot; - Terrie Elizabeth Reeves</i></p>

<p><strong class="blue">Track your progress:</strong> Let your Ideal Being Score and your Stress Gauge Number serve as a benchmark of your current level of satisfaction and stress you experience in each dimension. Knowing where you are is an important step in determining where you want to go. We encourage you to work your action plans and stay focused. Pause along the way to recognize your achievements and be sure to celebrate your successes. We recommend you do a personal check-up in each dimension every 3 months so you can monitor how you are doing. This will allow you to compare how you are feeling against your original Ideal Being Score and Stress Gauge Number. Nothing stays the same, so stay aware and awake to how life changes impact what is important to you and adjust your course as needed.</p>
<p><i>&quot;Be patient with yourself. Self-growth is tender; it’s holy ground. There is no greater investment.&quot; - Stephen Covey</i></p>
<p><strong class="blue">Stay informed and empowered:</strong> Use the action plans in this guide to help you stay inspired. We also encourage you to share your guide if you are working with a counselor, coach or trusted advisor. Friends and family can also be a big help, so seek out people who will provide you the support  you need to be successful.</p>

<p><strong class="blue">Pause to celebrate your accomplishments:</strong> Reassessing where you are each week is an important part of the journey. Take time to appreciate the progress you have made along the way and don’t underestimate the importance of recognizing your hard work. This can be done through positive self-affirmation while meditating, through prayer, gratitude journaling or talking through your accomplishments with a friend or family member. These small pauses will keep you on track. Remember, every intentional action brings you one step closer to your desired state of Ideal Being.</p>

<p><i>&quot;There is power in the pause, so slow down to recognize your achievements and be grateful.&quot; - Terrie Elizabeth Reeves</i></p>
<p><strong class="blue">Rebound when you relapse:</strong> Everyone encounters barriers and challenges while making life changes. This is a normal part of the change process, so in your journey toward transformation, don’t focus on the barriers you encounter; just concentrate on the solutions. It is a good idea to establish a recovery plan so when you hit barriers, you have a proactive strategy for dealing with them. For example, if you are trying to lose weight and you stumble on your journey and binge eat for two days, don’t beat yourself up or get discouraged. Pause, take a deep breath, hit the reset button and focus on your accomplishments. Ask for support and recognize that setbacks are a normal part on the road to change. </p>
<p><i>&quot;Failure is where growth happens, so look at it as a beautiful part of the process; it means you are one step closer to Ideal Being.&quot; - Terrie Elizabeth Reeves</i></p>
<p><i>&quot;Your beliefs become your thoughts, your thoughts become your words, your words become your actions, your actions become your habits, your habits become your values, your values become your destiny.&quot; - Mahatma Gandhi</i></p>

<p>Greater awareness creates more mindful decisions, so use this guide and your own data to explore ways to reach your state of Ideal Being. </p>
<p>Disclaimer: The information covered in your TFL Empowerment Guide reflects recommendations only. Please consult your primary care physician if you need profession guidance or help.</p>
  
</div>


<div *ngFor="let item of assessmentData.assessment" class="pagebreak" style="clear:both;">
    <div style="clear:both"></div>
  <c-dimension [dimensionid]="item.id" [guidemode]="true" [assessmentData]="assessmentData"></c-dimension>
</div>




  <p>Lasting change requires you to believe in yourself and to know you deserve to thrive in all dimensions of your life. Now that you are more <strong class="blue">aware</strong>, stay <strong class="blue">awake</strong> to the things that are important to you and <strong class="blue">empowered</strong> to take action. Be <strong class="blue">transformed</strong> as you integrate new behaviors and lifestyle choices into your life. Final destination…<strong class="blue">Ideal Being!</strong>  Become your greatest advocate by taking charge of your life.</p>

<p>We hope your TFL experience was both meaningful and enlightening.  
<a routerLink="/about">Click here</a> to learn more about Terrie Elizabeth Reeves, creator of the Train For Life® Assessment and the Ideal Being Model™.




<hr class="clear-fix">
<div calss="clear-fix">
  <button class="btn btn-primary pull-right" (click)="goToDashboard()" *ngIf="!datamode && !guidemode">Back to dashboard</button>
</div>

</div>

<modal-tfl-guide #t="child5"></modal-tfl-guide>
