<!-- Large modal -->
<div bsModal #childModal="bs-modal" #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close" style="color: white; opacity: 10; text-shadow: none; font-size: 36px; font-weight: normal;">
                    <span aria-hidden="true" style="opacity: 10;">&times;</span>
                </button>-->
                <h4 class="modal-title">TFL Empowerment Guide</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="lgModal.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
            </div>


            <div class="modal-body">
                <p><strong>What is the TFL Empowerment Guide:</strong> It is a guide book which combines all your data and TFL Action Plans on the dimensions you have unlocked. It also contains some additional support material designed to
                    help you set goals so you can begin making changes in your life. Your TFL Empowerment Guide is our gift to you, so print it out and use it as a reference tool. We hope it gives you more insight and a broader perspective
                    of your total Ideal Being. Greater awareness will help you make more mindful decisions, so use your personalized TFL Guide to help you set goals and explore ways to achieve greater satisfaction in your life.</p>

                <p><strong>Important to note:</strong> Your TFL Empowerment Guide only reflects information in the dimensions that you have unlocked. In order to access the entire TFL Empowerment Guide, you must unlock all dimensions.</p>
                <p><strong>Update anytime:</strong> You can update the answers that you provided for barriers and tools directly in your TFL Empowerment Guide.</p>
                <p><strong>Remember:</strong> Making lifestyle changes requires awareness, desire and action so we hope your assessment experience has motivated you to take action in the dimensions that are most important to you.</p>
                <p>We wish you the best of luck on this journey called life and always remember making change requires you to dig deep and believe in yourself.</p>
                <p>Dare to go deeper because you can • believe in yourself because you are powerful • know your potential because it is possible! <br/><strong>Terrie Elizabeth Reeves, Founder, Empower Health America</strong>
                </p>

                <div class="text-right">
                    <button class="btn btn-primary" (click)="lgModal.hide()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

