<!-- Large modal -->
<div bsModal #childModal="bs-modal" #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close" style="color: white; opacity: 10; text-shadow: none; font-size: 36px; font-weight: normal;">
                    <span aria-hidden="true" style="opacity: 10;">&times;</span>
                </button>-->
                <h4 class="modal-title">Your Train For Life (TFL) Results</h4>
            </div>


            <div class="modal-body">

                <p><strong>Your TFL results will display on your dashboard in the following order:</strong></p>

                <ul>
                    <li>TFL Dimensions you are motivated to change</li>

                    <li>TFL Dimensions you are not motivated to take action</li>

                    <li>TFL Dimensions that you are satisfied</li>
                </ul>

                <p><strong>Assessment intention:</strong> This assessment process is intended to help you gain greater self-awareness and to empower you to make lifestyle changes that are important to you.</p>

                <p><strong>Celebrate where you are:</strong> Pause for a moment when reviewing your results and reflect on the dimensions in your life in which you are satisfied and be grateful. Let this serve as motivation that finding satisfaction in all the dimensions that are important to you is possible.</p>

               <p><strong>Game plan:</strong> Rome was not built in a day so set realistic expectations, develop a game plan and ask for support. Begin by focusing on what you are already doing well in each dimension and take action to build on that success.</p>

                <p><strong>How to get started:</strong> You have to be motivated to make changes in your life so focus on the areas where you reported lower satisfaction and the greatest motivation to take action first. With focus, the right support and your commitment to the change process you have the ability to transform the course of your life one dimension at a time.</p>

                <p><strong>Already satisfied:</strong> After unlocking and reflecting on the dimensions you are motivated to change, we encourage you to unlock the dimensions in which you are satisfaction as well. Once you unlock each dimension you will have access to a dynamic chart which will provide you a snapshot of how each dimension is impacting your life and a personalized TFL Action Plan to review. We hope that you take advantage of this information as you strive to maintain satisfaction in each dimension.</p>

                <p><strong>Your TFL Action Plan:</strong> Be sure and take the time to review your TFL Action Plans. We hope that the information provided is helpful in developing an action plan to improve your level of satisfaction in the dimensions that are important to you.   </p>


                <p><strong>Use your TFL Toolkit:</strong></p>
                <ul style="margin-left: 40px;">
                    <li>Click the <i class="fa fa-star orange"></i> to reveal the dimensions in which you are motivated to take action. </li>
                    <li>Click the <i class="fa fa-bar-chart blue"></i> and view your data and all 15 dimensions at a glance. In order to view data in each dimension, you must unlock it first.</li>
                    <li>Click the <i class="fa fa-file-pdf-o red"></i> and view your comprehensive TFL Empowerment Guide, which gives you information on all 15 dimensions.</li>
                    <li>Your overall Ideal Being Score: Reflects your overall satisfaction score based on all 15 dimensions.</li>
                    <li>Stress Gauge: Your <strong class="blue">stress</strong> gauge reflects the level of stress you feel associated with each dimension. 20% reflects low satisfaction and 100% reflects high satisfaction.</li>
                </ul>
                <p><strong>Please note:</strong> </p>
                <ul>
                    <li>In order to view data in each dimension, you must unlock it first.</li>
                    <li>Your TFL Empowerment Guide will only reflect TFL Action Plans and data findings in the dimensions that have been unlocked.</li>
                </ul>

                <br>
                <p><strong>Instructions:</strong> You can click on the <i class="fa fa-question-circle-o blue"></i> at the top of your TFL Dashboard page at any time for instructions on how to how to navigate the assessment site.</p>
                <br>
                <br>

                <div class="text-right">
                    <button class="btn btn-primary" (click)="lgModal.hide()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

